

/* General */
body {
  font-family: Quicksand Light 300;
  font-weight: 300;
  color: #2f2f2e;
  text-align: left;
}

.nor-txt {
  font-size: 20px;
  font-weight:300;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheading {
  font-size: 25px;
  font-family: Libre Baskeville;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 0;
}

.heading {
 font-family: Libre Baskeville;
 font-size: 55px;
}

/* head */
.header{
  position: fixed;
  background-color: rgb(255, 255, 255);
  min-height: 77px;
  min-width: 100%;
}

.standard-btn {
  background-color: #cff4ec;
  border: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-icon{
  padding-top: 25px;
}

.head-txt {
  font-family: Libre Baskeville;
  font-size: 25px;
  font-style: italic;
}

/* menu */
.menu-container {
  text-align: center;
  padding-bottom: 20px;
}

.menu-container a {
  text-decoration: none;
  color: black;
  
}

.menu-item {
  text-decoration: none;
  font-family: Quicksand Light 300;
}
nav a:hover {
  color: #94d6c8;
}

.menu-container a {
  display: none;
  
}

/*about*/
.about-container{
padding-top:100px ;
background-color: #F2F2F1;
}

.about-container {
  background-color: #F2F2F1;
  weight: lighter;
  font-size: 50px;
  text-align: left;
  padding-top: 0x;
  padding-bottom: 10px;
}

.about-img {
  margin-top: 40px;
  width: 100%;
}

/*experience*/
.bg-green{
  background-color: #cff4ec;
}

.exp-text {
  font-size: 20px;
  font-weight:300;
}

/*footer*/
.footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (min-width: 540px) {
  .menu-icon {
    display: none;
  }

  /*head*/
  .menu-container a {
    display:flex;
    font-size: 15px;
  }