/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* config */
@import url(../css/config.css);

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.25%;
    gap: 1em;
    background-color: var(--dark-beige);
}

main::before {
    content: "";
    position: absolute;
    background: var(--white);
    height: 20%;
    width: 100%;
    top: 0;
    left: 0;
}

/* intro section one */
.intro-one,
.intro-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
}

.intro-one {
    padding: 2em 0;
    background-color: var(--light-beige);
    align-items: center;
    box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
    z-index: 1;
}

/* image */
.intro-one > img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

/* name */
.intro-one > h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.intro-one > h1 > span {
    display: block;
}

/* line */
.intro-one > hr {
    border: none;
    background-color: var(--royal-blue);
    height: 1.5px;
    width: 10em;
    margin: 0 auto;
}

/* buttons */
.intro-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    margin: 1em 0;
}

.intro-btn > h2 {
    padding: .4em .6em;
    border-radius: 1em;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
    transition: var(--trans-one);
}

.intro-btn h2:first-child {
    background-color: var(--royal-blue);
    border: 1px solid var(--royal-blue);
    color: var(--white);
}

.intro-btn h2:first-child:hover {
    border: 1px solid var(--black);
    background-color: transparent;
    color: var(--black);
}

.intro-btn h2:last-child {
    border: 1px solid var(--black);
}

.intro-btn h2:last-child:hover {
    border: none;
    background-color: var(--royal-blue);
    border: 1px solid var(--royal-blue);
    color: var(--white);
}

/* intro section two */
.intro-two {
    padding: .5em;
}

.intro-two > h1,
.intro-two > h2 {
   font-family: 'poppins', sans-serif;
}

.intro-two > h1 {
    font-size: 3em;
}

.intro-two > h2 {
    font-size: 1.4em;
    font-weight: 500;
}

.intro-two > p {
    font-size: 1.3em;
    line-height: 1.5em;
}

/* social icons */
.intro-socials {
    background-color: var(--white);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.intro-socials > i {
   font-size: 1.5em;
}
.intro-socials > i:hover {
   color: var(--royal-blue);
}
