/* Add your CSS here */

/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* Don't' forget to link this file to your HTML in the <head> */

:root {
    --beige-dark: #e6dacd;
    --beige-light: #f4ece6;

    --blue-royal: #0150fd;
    --black: #000;
    --white: #fff;

    --heading-font: "Poppins", sans-serif;
    --body-font: "Quicksand", sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

/* start header  */
.head {
    background-color: var(--white);
    width: 100%;
    padding: 20px 30px;
}

.head h1 {
    grid-column: 1/7;
    grid-row: 1;
    font-family: var(--heading-font);
    font-size: 1.7rem;
    
}

.head h3 {
    grid-column: 1/7;
    grid-row: 2;
    font-family: var(--body-font);
    font-size: 1.5rem;
    padding: 0;
    text-transform: uppercase;
}

/* header blue box1 */
.head>h1::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--blue-royal);
}

/* end header  */

/* start main  */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

/* box1 style  */
.box1 {
    grid-column: 1/9;
    width: 375px;
    height: 150px;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
}

/* box2 style  */

.box2 {
    grid-column: 1/9;
    width: 375px;
    height: 800px;
    background-color: var(--beige-dark);
    color: aliceblue;
}

.box2 {
    color: var(--black);
    padding-top: 350px;
    padding-left: 30px;
    padding-right: 30px;
}

.box2 h2 {
    font-family: var(--heading-font);
    font-size: 2.7rem;
    font-weight: bold;
}

.box2 h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--heading-font);
    font-size: 1.2rem;
}

.box2 p {
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.box2 .p2 {
    padding-top: 25px;
}

/* box3 style  */

.box3 {
    /* display: grid;
    grid-column: 2/8; */
    width: 320px;
    height: 450px;
    background-color: var(--beige-light);
    color: aliceblue;
    /* z-index: 3; */
    margin-top: -940px;
    padding: 70px;
    margin-left: 30px;
}

.box3>section>img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin-block-start: -50px;
    margin-left: 20px;
}

.box3>section>h2 {
    color: var(--black);
    font-family: var(--heading-font);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.9rem;
}

/* button style   */
.but {
    display: flex;
    justify-content:center;
    margin-top: 30px;
}

.btn {
    padding: 0.3rem 1rem;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0.8rem;
}

.but .btn1 {
    background-color: var(--blue-royal);
    color: var(--white);
    font-family: var(--heading-font);
    text-transform: uppercase;
    border: none;
}

.but .btn2 {
    border-color: var(--black);
    background-color: var(--beige-light);
    color: var(--black);
    font-family: var(--heading-font);
    border: 1px solid var(--black);
    margin-left: 20px;
}


/* social icon style  */

.social-icon {
    position: absolute;
    right: 27px;
    width: 320px;
    height: 50px;
    background-color:var(--white);
    margin-top: 50px;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 8px 0px 0px;
    padding-right: 10px;
    padding-top: 5px;
}
.icon a{
    color: var(--black);
    font-size: 20px;
}

/* end main  */



/* footer style*/
.foot{
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: var(--white);
    font-family: var(--body-font);
    font-size: 1.2rem;
    color: var(--black);
    padding: 20px 30px;
}
.se1{
    display: flex;
    justify-content:space-between;
}
.foot1 h4{
    font-weight: bold;
    font-family: var(--heading-font);
}
.foot2 h4 {
    font-weight: bold;
    font-family: var(--heading-font);
}
.w1{
    font-weight: bold;
    font-family: var(--heading-font);
}
.foot3{
    padding: 10px 20px;
    color: var(--black);
    font-weight: bold;
    font-family: var(--body-font)
}
.foot3 a{
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    color: var(--black);
    margin: 8px 0px 0px;
    font-size: 30px;
    padding-right: 18px;
}
.foot4{
    padding-top: 5px;
    font-family: var(--body-font);
}



