
/* Add your CSS here */
/* common styling the header */
:root {
--dark-beige: #E6DACD;  
--light-beige: #F4ECE6;  
--royal-blue: #0150FD; 
--black: #000;  
--purple: #a90fe6; 
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;

}
body{
  font-family: 'Quicksand', sans-serif; 
  background: var(--dark-beige);
}

.navbar {
  display: grid;
  grid-template-rows:100px;
  grid-template-areas:"name .  nav";
  margin: 1rem 1rem;
  line-height:2rem;
}

 .lists{
   grid-area:nav;
   display:flex;
   justify-content:flex-end;
   display: none;
  }

  #square{
  color:blue;
  padding-right:0.5rem;
}


 header{
  display: grid;
  grid-area:h;
  background: #fff;
  position: relative;
  z-index: 1;
  top:-1.2rem;

}

.navbar ul{
  list-style:none;
}

.name {
  grid-area: name;
  font-size:20px;
 }

 .title{
  font-size:14px;
 }

.hamburger{
 background: transparent;
 margin-left: 6rem;
 border: none;
 margin-bottom: 5rem;
 color: var(--royal-blue); 
 width: 4rem;
}

 .hamburger a{
 filter:  blue (100%);
}


main{
  grid-area:m;
  background: var(--dark-beige);
  padding:1em;
}

footer{
  grid-area:f;
  background-color: #fff;
}

  /* common styling the footer */
.contacts2 {
  margin-top: 1.55rem;
  display: flex;
}

.number-info {
  margin-top: 0.5rem;
}

.call {
  margin-left: 1.75rem;
}

.write {
  margin-left: 3rem;
}

.socials-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  list-style: none;
}

.socials-links a {
  font-size: 20px;
  color: var(--black);
  text-decoration: none;
  margin: 5px 10px;
  padding-bottom: 1.5rem;
}

.socials p {
  margin-left: 1.75rem;
  padding-top: 1.8rem;
  font-weight: bold;
}

.footer-info {
  margin-top: 1.5rem;
  margin-left: 1.55rem;
  line-height: 0.1rem;
}
