    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
     :root {
        /* ### Colors */
        --clr-dark-beige: #E6DACD;
        --clr-light-beige: #F4ECE6;
        --clr-royal-blue: #0150FD;
        --clr-black: #000;
        --clr-white: #FFF;
        /* ### Fonts-Family */
        --font-poppins: 'Poppins', sans-serif;
        --font-quicksand: 'Quicksand', sans-serif;
        /* ### Fonts Size */
        --font-size--14px: 0.875rem;
        --font-size--15px: 0.9375rem;
        --font-size--16px: 1rem;
        --font-size--19px: 1.1875rem;
        --font-size--20px: 1.25rem;
        --font-size--21px: 1.3125rem;
        --font-size--40px: 2.5rem;
        /* ### Fonts Weight */
        --font-weight--400: 400;
        --font-weight--600: 600;
        --font-weight--700: 700;
    }
    
    body {
        line-height: 1.5rem;
        font-family: var(--font-quicksand);
        font-size: var(--font-size--16px);
        font-weight: var(--font-weight--400);
    }
    
    img {
        max-width: 100%;
    }
    
    @media screen and (min-width: 481px) {}
    
    @media screen and (min-width: 721px) {}
    
    @media screen and (min-width: 1024px) {
        .main__grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-gap: 10px;
            padding-top: 128px;
        }
        /* HEADER */
        .header {
            position: fixed;
            grid-column: 1/-1;
            height: 100%;
            background-color: var(--clr-white);
            height: 128px;
            width: 100%;
        }
        /* Profile */
        .profile {
            grid-column: 1/6;
            grid-row: 1/4;
            background: linear-gradient(to right, #E6DACD, #E6DACD 50%, #E6DACD 70%, #FFF 10%);
            padding-bottom: 60px;
        }
        .profile__card {
            width: 375px;
            height: 526px;
            margin-top: 59px;
            /* background: red; */
        }
        .profile__card--img {
            border-radius: 100%;
            width: 12.5625rem;
            margin: 1.75rem 0 0.625rem 0;
        }
        .profile__card--name {
            line-height: 1.2em;
            text-align: center;
            font-family: var(--font-poppins);
            font-size: 34px;
            font-weight: var(--font-weight--700);
        }
        /* Intro */
        .intro {
            grid-column: 6/12;
        }
        .intro__title {
            font-family: var(--font-poppins);
            font-size: 101px;
            font-weight: var(--font-weight--700);
        }
        .intro__subtitle {
            font-family: var(--font-quicksand);
            font-size: 25px;
            font-weight: var(--font-weight--400);
            padding: 2.2rem 0 1.5rem 0;
        }
        .intro__text-description {
            font-family: var(--font-quicksand);
            font-size: 17px;
            font-weight: var(--font-weight--400);
            line-height: 1.5em;
        }
        /* footer */
        .footer {
            grid-column: 1/-1;
            margin-left: 1rem;
            margin-top: 1rem;
        }
        .credits {
            grid-column: 1/-1;
        }
    }