/* Add your custom CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

:root {
    --beige: #E6DACD;
    --lbeige: #F4ECE6;
    --blue: #0150FD;
    --white: #FFF;
    --black: #000;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--beige);
}

h3,b{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}


.navbar{
    background-color:var(--white);}

#navholder{
    height: 120px;
}





.social {
    width: 20px; 
    height: auto;
    margin: 10px;
}
.socialblock{
    background-color: var(--white);
      
}

footer{
    height: 100px;
    background-color: var(--white);
   
    
}
.footercard{
    width: 200px;
}
/**

/** heading font-family: 'Poppins', sans-serif;
 body font-family: 'Quicksand', sans-serif;
**/