:root {
    --red-brown: #A05941;
    --green-black: #133032;
    --light-grey: #EDEDEE;
    --white: #FFF;
    --transparent-white: rgba(0,0,0,0.75);
    --dark-grey: #383636;
    --light-brown: #a059414a;
}

body {
    background-color: var(--light-grey);
    /* font-family: 'Fjalla One', sans-serif;
    font-family: 'Outfit', sans-serif; */
    display: grid;
    margin: 0;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header        header        header        header"
    "faq           faq           faq           faq"
    "footer        footer        footer        footer"
    "copyright     copyright     copyright     copyright"
    "credit        credit        credit        credit";
}

/* FAQ title */
.faq {
    background-color:var(--white);
    grid-area: faq;
    margin-top: 1em;
    text-align: center;
    padding-bottom: 30px;
}


.faq-title {
    margin-top: 4em;
    font-family: 'Outfit', sans-serif;
    color: var(--red-brown);
    font-size: 1em;
    letter-spacing: 0.3em;
}

.faq-title-underline {
    background-color: var(--red-brown);
    height: 3px;
    border: none;
    width: 12px;
    margin-top: 1.5em;
}

.faq-subheading {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1em;
    color:var(--dark-grey);
    margin: 2.5em 0;
    font-weight: 200;
}

/* FAQ SEARCH */
.faq-search {
    display: flex;
    
}

.search-line {
    width: 19em;
    background-color: var(--red-brown);
    height: 1.3px;
    border: none;
    margin: 1.6em 0 1.8em 2.5em;
}

.faq-search-container {
    max-width: 80%;
    cursor: pointer;
    height: 20px;   
}

.search-container:hover {
    border: 1px solid var(--red-brown);
}


.fa {
    color: var(--red-brown);
}

.fa .fa-search {
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 0;
    transform: translateY(-50%);
    padding: 13px 15px 13px 11px;
}

.input-field {
    border: 0;
    height: 20px;
    background: var(--white);
    max-width: 80%;
    padding-left: 0.7em;
}

::placeholder {
    color:var(--red-brown);
    font-size: 1.2em;
}

/* FAQ DROPDOWN Q'S */
.faq-questions {
    padding-top: 2em;
}

.question {
    display: flex;
    flex-direction: row;
    padding-left: 2.3em;
}

.question-text {
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    color:var(--red-brown);
    margin-top: 0;
}

.arrow-icon {
    width: 16px;
    filter: invert(37%) sepia(52%) 
            saturate(539%) hue-rotate(329deg) 
            brightness(94%) contrast(89%);
}

.position1 {
    padding-left: 7em;
}

.position2 {
    padding-left: 4.2em;
}

.position3 {
    padding-left: 4.5em;
}

.position4 {
    padding-left: 0.8em;
}

.line-break {
    width: 19em;
    background-color:var(--light-brown);
    height: 1.3px;
    border: none;
}





/* 'Fjalla One', sans-serif;
'Outfit', sans-serif; */