/*  */

* {
    font-family: "Outfit", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
}

h3,
h4,
p {
    color: var(--redBrown);
}

h4 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 0.4rem;
}

.search {
    font-size: 0.9em;
    color: var(--redBrown);
}

h3 {
    font-size: 1.315rem;
}

::placeholder {
    color: var(--redBrown);
}

.changing-text {
    text-transform: capitalize;
    letter-spacing: 0.17rem;
    font-family: "Fjalla One", sans-serif;
    font-size: 0.875rem;
    word-spacing: 0.1rem;
}

.logo-text {
    font-size: 13px;
}

.logo-text,
.slogan {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 0.45em;
}

.slogan {
    font-size: 0.9375rem;
    text-align: center;
    font-weight: 300;
}

.product-links-content h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}