:root {
  --dark-beige: #e6dacd;
  --light-beige: #f4ece6;
  --royal-blue: #0150fd;
  --black: #000;
  --white: #fff;
}

p {
  margin: 0;
  padding: 0;
}

/* footer */
footer {
  /*border: solid 2px rgb(241, 8, 8);*/
  grid-area: footer;
  grid-column: 1/-1;
  width: auto;
  font-family: "Quicksand", sans-serif;
}
.write-and-call-box {
  /*border: solid 2px rgb(241, 8, 8);*/
  width: 22rem;
  display: flex;
  justify-content: space-around;
}
.footer-follow-box {
  /*border: solid 2px rgb(241, 8, 8);*/
  width: 22rem;
  height: 4rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.social-media-icons-follow {
  margin: 0.5rem;
  margin-left: -.5rem;
}
.text-copyright {
  margin-left: 2rem;
}
