:root {
  --dark-beige: #e6dacd;
  --light-beige: #f4ece6;
  --royal-blue: #0150fd;
  --black: #000;
  --purple: #a90fe6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background: var(--dark-beige);
}
.grid-container {
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m "
    "f f f f f f f f f f f f";
  grid-template-rows: 100px 2fr 350px;
}

.navbar {
  display: grid;
  /* grid-template-rows:100px; */
  grid-template-areas: "name .  nav";
  margin: 1rem 1rem;
  line-height: 2rem; 
}

.lists {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  display: none;
}

#contact-square {
  color: blue;
  padding-right: 0.5rem;
  
}

.fas-contact{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  font-size: 2rem;
  font-weight: 900;
}

header {
  display: grid;
  grid-area: h;
  background: #fff;
  position: relative;
  z-index: 1;
}

.navbar ul {
  list-style: none;
}

.hamburger {
  background: transparent;
  margin-left: 6rem;
  border: none;
  margin-bottom: 5rem;
  margin-top: 1rem;
  color: var(--royal-blue);
  width: 3.2rem;
}

.hamburger a {
  color: var(--royal-blue);
}

.nav ul li {
  list-style: none;
  display: none;
}

.name {
  grid-area: name;
  font-size: 1.5rem;
  font-weight: 900;
}

main {
  grid-area: m;
  /* grid-template-rows: 800px; */
  background: var(--dark-beige);
  padding: 1em;
}
.box{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  outline: none;
  margin-top: 15px;
  margin-right: 20px;
}

input{
  padding: 1rem 5.25rem;
  margin-bottom: 1rem;
  
 
}

fieldset{
  border-style: none;
   background-color: #fff;
   padding-bottom: 5rem;
   padding-left: 25px;
   /* padding-left: 20px;  */
   padding-top: 32px;
  
}

.form-btn{
  padding: 10px 40px;
  margin-top: 25px;
  margin-left: 7rem;
  border-radius: 20px;
  background-color: var(--royal-blue);
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
span{
  font-size: 1.5rem;
  color: var(--royal-blue);

}

label{
  font-weight: 900;
  font-size: 1.1rem;
}

.form-info{
  padding-right: 2rem;
}

footer {
  grid-area: f;
  background-color: #fff;
   margin-top: 1rem; 
  /* padding-bottom: 5rem; */
}

.contacts2 {
  margin-top: 1.55rem;
  display: flex;
}
.number-info {
  margin-top: 0.5rem;
}

.call {
  margin-left: 1.75rem;
}
.write {
  margin-left: 3rem;
}
.socials-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  list-style: none;
}

.socials-links a {
  font-size: 20px;
  color: var(--black);
  text-decoration: none;
  margin: 2px 10px;
 padding-bottom: 1rem; 
}
.socials p {
  margin-left: 1.75rem;
  padding-top: 1.8rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.footer-info {
  margin-top: 1rem;
  margin-left: 1.55rem;
  line-height: 1rem;
  padding-top: 1rem;
}
.footer-info-p{
   margin-left: 1.55rem;
}