
:root {

--red-brown: #A05941;
--Green-black: #133032;
 --Light-grey: #EDEDEE;
--White: #FFF;
--Transparent-white: rgba(255, 251, 251, 0.75);
}
body {
    background-color: black;
    font-family: 'Outfit', sans-serif;
}

.header {
    background-color: var(--Light-grey);
    font-family: 'Fjalla One', sans-serif;
}
.hero {
    background-image: url("/responsive-grid-project/img/main.png");
    height: 400px;
}
.main-container {
    background-color: cornflowerblue;
    }

.plants-sec {
    display: grid;
   grid-gap: 5px;
  grid-template-columns: repeat(minmax(400px, 1fr));
   }  
   
.brown-line {
    background-color: var(--red-brown);
   
    text-align: center;
     width: 25px;
      height: 10px;
      margin:  auto ;
            }


.plants , .cacti , .succulent  {
    background-color: aquamarine;
    min-height: 400px;
    padding: 10px;

} 

.plants {
   
    background: lightblue url("/responsive-grid-project/img/plants.png") no-repeat  center;
   width:inherit;
   max-width: 400px;
   text-align: center;
}
.cacti {

    background: lightblue url("/responsive-grid-project/img/cacti.png") no-repeat center;
    width: inherit;
    max-width: 400px;
    text-align: center;
}

.about-sec {
    color: var(--red-brown);
display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(minmax(200px, 1fr));
}

.about-txt , .about-img {
    background-color: lightgreen;
        min-height: 400px;
        padding: 10px;
}

.img {
 width: 100%;   
}

button {
    background-color: var(--red-brown);
    color: var(--White);
}

.offer {
    background-color: var(--Green-black);
    color: var(--White);
}

.form-sec {
    background: lightblue url("/responsive-grid-project/img/rubber-plant.png") no-repeat  center;
}

.form {
    background-color: var(--Transparent-white);
}

/*     map section       */
 .mapouter {
     position: relative;
     text-align: right;
     height: 500px;
     width: 600px;
 }

 .gmap_canvas {
     overflow: hidden;
     background: none !important;
     height: 500px;
     width: 600px;
 }

  


@media only screen and (min-width: 600px) {
    body {
        background-color: red;
    }

.plants-sec {
    display: flex;
        flex-direction: row;
}    

.about-sec , .about-img {
    display: flex;
    flex-direction: row;
}
    .img {

        width: 50%;
        height: auto;
    }

       
}