.header {
    display: flex;
    height: 4.5rem;
    padding: 0 1rem;
    height: 88px;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.header__col1--item1 {
    display: flex;
    justify-content: flex-end;
}

.header__col1 {
    display: flex;
    width: 49%;
    align-items: center;
    margin-left: .375rem;
    justify-content: flex-start;
}

.header__col2 {
    display: flex;
    width: 57%;
    align-items: center;
    margin-left: 0 auto;
    flex-direction: row;
    justify-content: flex-end;
}

.header__col2 a {
    padding-left: 42px;
}

.header__nav a:nth-child(1) {
    padding-left: 0px;
}

.header__mobile {
    display: flex;
}

.header__square--mobile {
    background-color: var(--clr-royal-blue);
    height: 16px;
    width: 16px;
    background-color: var(--clr-royal-blue);
    margin-top: 4px;
}

.header__name--mobile {
    padding-left: .8125rem;
    font-family: var(--font-poppins);
    font-size: var(--font-size--20px);
    font-weight: var(--font-weight--700);
}

.header__role--mobile {
    font-family: var(--font-quicksand);
    font-size: var(--font-size--14px);
    font-weight: var(--font-weight--400);
    font-style: bold;
    letter-spacing: 0.02em;
    margin-left: -1.875rem;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--font-size--14px);
}

.ic_hamburger {
    height: 30px;
}