/* imported google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Ligh-Grey);
}
:root {
  /* colours */
  --Red-Brown: #a05941;
  --Green-Black: #133032;
  --Ligh-Grey: #ededee;
  --White: #fff;
  --Transparent-White: rgba(0, 0, 0, 0.75);
  /* fonts */
  --fjalla: "Fjalla One", sans-serif;
  --outfit-light: "Outfit", sans-serif;
}

/* main grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 100px;
}
.header-searchbar-and-icons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  z-index: 1;
}
/* search bar */
.form form input {
  height: 2.5em;
  width: 15rem;
  padding-left: 2.5em;
  border-radius: 4px;
  border: none;
  background-image: url("../plant-img/search-interface-symbol.png");
  background-position: 20px 12px;
  background-size: 1em;
  background-repeat: no-repeat;
  color: var(--Red-Brown);
  font-family: var(--outfit-light);
  font-size: 1em;
}
::placeholder {
  color: var(--Red-Brown);
}
.form form input:hover {
  border: 1.5px solid var(--Red-Brown);
  background-image: none;
  transition: .15s ease-in;
}
/* user and bag icons */
.icons {
  width: 1.5em;
  height: 1.6em;
  padding: 1em 0 1em 1em;
}
/* icon svgs */
.icons svg,.up-arrow svg {
  color: var(--Red-Brown);
}
/* adjusted the bag's inner text count font */
text {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bolder;
}

.user-icon {
  display: none;
}
/* header text, navbar and contact  */

.header-grid-2nd {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 40px);
  align-items: center;
  z-index: 1;
  background-color: var(--Ligh-Grey);
}
.header-text-and-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-text p {
  color: var(--Red-Brown);
  font-family: var(--fjalla);
  font-size: 1.5em;
  font-weight: 400;
}
/* hamburger */
/* animated hamburger  */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 7px);
  transition: .4s ease-in-out;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  transition: .4s ease-in-out;
}
.hamburger {
  flex-direction: column;
  padding: 1em 0 1em 1em;
  justify-content: flex-end;
}
.hamburger .bars {
  background-color: var(--Red-Brown);
  width: 1.8em;
  height: 0.14em;
  margin-top: 0.55em;
}

/* navbars for desktop */
.header-navbar-desktop {
  display: none;
  align-self: center;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin: 0 1em;
}
.header-navbar-desktop a {
  text-decoration: none;
  color: var(--Red-Brown);
}
.header-contact-animation {
  color: var(--Red-Brown);
  font-size: 1.09em;
  font-weight: 700;
  letter-spacing: 1.9px;
  /* display: flex;
    justify-content: flex-end;  set it in desktop*/
}
/* main  */
.main {
  grid-area: m;
  position: relative;
}
/* footer */
.footer{
    grid-area: f;
}

/* chat-button */
.chat-button {
  width: 1.5rem;
  height: 3.4rem;
  background-color: var(--Red-Brown);
  color: var(--White);
  border: none;
  position: fixed;
  right: 3%;
  bottom: 3%;
  font-family: var(--fjalla);
  font-size: 1.1em;
  padding: 0 0 0 1.7em;
  background-image: url("../plant-img/PinClipart.com_darkness-clipart_510498.png");
  background-position: center;
  background-size: 1.5em;
  background-repeat: no-repeat;
  border-radius: 100%;
}
/* up-arrow */
.up-arrow{
  height: 3rem;
  width: 3rem;
  position: fixed;
  left: 3%;
  bottom: 3%;
}
.up-arrow img{
  height:48%;
  width: 50%;
  padding: .7rem;
  background-color: #a05941;
  border-radius: 100%;
}
@media screen and (min-width: 1100px) {
  /* body grid container */
  .grid-container {
    padding: 0 2.5em;
  }
  /* header contents  */
  .hamburger {
    display: none;
  }
  .form form input {
    font-size: 1.2em;
    margin-left: 3%;
    width: 100%;
  }
  .header-grid {
    grid-template-rows: 90px 100px;
    position: fixed;
    width: 1275px;
    z-index: 1;
  }
  .header-searchbar-and-icons,
  .header-grid-2nd {
    padding: 1em 0;
  }
  .header-grid-2nd {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-navbar-desktop {
    display: flex;
  }
  .header-navbar-desktop a:hover {
  color: rgb(231, 0, 0);
  transition: .65s ease-out;
  font-weight: bold;
}

  /* user icon and icons */
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
  }
  .icons svg {
    width: 1.9em;
    height: 1.9em;
  }
  .user-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -9em;
    color: var(--Red-Brown);
  }
  .user-icon p {
    margin-left: 0.5em;
    font-size: 1.1em;
  }
  .chat-button {
    display: none;
  }
  .chat-button-desktop {
    width: 8rem;
    height: 3.5rem;
    background-color: var(--Red-Brown);
    color: var(--White);
    border: none;
    position: fixed;
    right: 2%;
    bottom: 3%;
    font-family: var(--fjalla);
    font-size: 1.4rem;
    padding: 0 0 0 1.7em;
    background-image: url("../plant-img/PinClipart.com_darkness-clipart_510498.png");
    background-position: 15px 15px;
    background-size: 1.5em;
    background-repeat: no-repeat;
  }
  .chat-button-desktop::after {
    content: "Let's Chat!";
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    padding-top: 12px;
  }
}
