:root {
  --dark-beige: #e6dacd;
  --light-beige: #f4ece6;
  --royal-blue: #0150fd;
  --black: #000;
  --white: #fff;
}

p {
  margin: 0;
  padding: 0;
}

.hello-box {
  width: 250px;
  height: 350px;
  padding: 50px;
  margin-left: 2rem;
  border: 2px solid rgb(255, 0, 149);
}