/* Main */
/* hero */
.m__hero {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 90vh;
    z-index: -1;
    background-color: var(--dark-beige);
}

/* Buttons */
.m__buttons {
    z-index: 1;
}

.m__buttons--desktop {
    display: none;
}

/* Card */
.m__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 45vh;
    margin-left: 40px;
    box-shadow: -6px 6px 18px -9px rgba(0, 0, 0, 0.75);
    background-color: var(--light-beige);
    z-index: 0;
}

.m__card__img {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    border-radius: 50%;
}

.m__card__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m__card__title {
    width: 90px;
    margin-top: 10px;
    font-family: var(--heading-font);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.m__card__separator {
    width: 68px;
    height: 3px;
    margin: 10px;
    margin-bottom: 40px;
    align-self: center;
    background-color: var(--royal-blue);
}

.m__card__subtitle {
    display: none;
}

.m__card__links {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin-top: 40px;
    background-color: var(--white);
}

.m__card__links a {
    padding: 0 10px;
}

/* Main content */
.m__heading {
    padding-top: 20px;
}

.m__heading h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 40px;
    padding: 10px 0;
}

.m__heading h2 {
    font-size: 19px;
    padding-bottom: 10px;
}

.m__content {
    margin-bottom: 50px;
}

.m__content p {
    padding: 0 10px 10px 0;
}

@media screen and (min-width:600px) {

    /* Main */
    .main--primary {
        display: grid;
        grid-template-columns: 1fr 5vh 1fr;
        grid-template-rows: 40% 10% 50%;
        height: 100vh;
    }

    .m__hero {
        position: relative;
        top: 0;
        grid-row: 1/4;
        width: 40vw;
        height: 100%;
    }

    /* Card */
    .m__card {
        position: absolute;
        left: 200px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: space-between;
        align-self: center;
        width: 30vw;
        height: 80vh;

    }

    .m__card__img {
        width: 205px;
        height: 205px;
    }

    .m__card__title {
        width: 120px;
        font-size: 27px;
    }

    .m__card__subtitle {
        display: block;
        font-size: 17px;
        text-transform: uppercase;
    }

    .m__card__links {
        padding: 20px;
    }

    /* Main content */
    .m__heading {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 40px;
    }

    .m__heading h1 {
        font-size: 100px;
    }

    .m__heading h2 {
        font-size: 25px;
    }

    /* Buttons */
    .m__buttons {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: center;
        margin: 30px 0;
    }

    .m__buttons--mobile {
        display: none;
    }

    .m__buttons--desktop {
        display: block;
    }

    .m__content {
        grid-column: 3/4;
        grid-row: 3/4;
        width: 30vw;
        margin-top: 20px;
        font-size: 17px;
    }

    .m__content p {
        padding-bottom: 20px;
        left: 400px;
    }

}