header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "w w w w w w w w w w w w" "h h h h h h h . . . . m" "c c c c c c c c c c c .";
}

.search-wrapper {
    grid-area: s;
    display: grid;
    grid-template-columns: inherit;
    grid-template-areas: "i i t t t t t t t t t t";
}

.white-background {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "s s s s s s s s s . . b";
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    display: flex;
    align-items: center;
    justify-content: end;
}

.shop-wrapper {
    width: calc(50% + 18px);
    display: grid;
    grid-template-columns: auto 12px;
    grid-template-areas: "shop down";
    align-items: center;
}

.shop a {
    grid-area: shop;
    justify-self: left;
}

.down {
    grid-area: down;
}

.hero,
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.random-pictures {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.find-us,
.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.white-background {
    grid-area: w;
}

.search-img {
    grid-area: i;
}

.search {
    grid-area: t;
}

.bag {
    grid-area: b;
}

.header-text {
    grid-area: h;
}

.hamburger-menu {
    grid-area: m;
}

.changing-text {
    grid-area: c;
}