.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3rem 4.4rem 17.4rem 9.6rem 4rem auto auto auto auto auto 14rem auto;
  grid-template-areas:
    "or or or or or or or or or or or or"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hr hr hr hr hr hr hr hr hr hr hr hr"
    "sc sc sc sc sc sc sc sc sc sc sc sc"
    "ds ds ds ds ds ds ds ds ds ds ds ds"
    "df df df df df df df df df df df df"
    "vs vs vs vs vs vs vs vs vs vs vs vs"
    "ct ct ct ct ct ct ct ct ct ct ct ct"
    "kt kt kt kt kt kt kt kt kt kt kt kt"
    "sp sp sp sp sp sp sp sp sp sp sp sp"
    "nt nt nt nt nt nt nt nt nt nt nt nt"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.order {
    grid-area: or;
}

/* Header */

.header {
    grid-area: hd;
    
}

/* Hero */

.hero {
    grid-area: hr;
    
}

/* Orange picture */

.showcase {
    grid-area: sc;
    
}

/* Discount section */

.discount {
    grid-area: ds;
    
}

/* Differences section */

.differences {
    grid-area: df;
    
}

/* Boosting immunity section */

.vision {
    grid-area: vs;
    
}

/* Choose your wellness path */

.catalog {
    grid-area: ct;
    
}

/* Discover our ... */

.kit {
    grid-area: kt;
    
}

/* Get juice bar */

.supply {
    grid-area: sp;
    
}

/* follow us */

.networks {
    grid-area: nt;
    
}

/* Footer */

.footer {
    grid-area: ft;
}

/* ----- LARGE-SCREEN ----- */


@media (min-width: 800px) {
.container {
  grid-template-rows: 5.5rem 5.5rem 17rem 80vh 5.4rem auto auto auto auto auto 23rem auto;
}

body button {
    font-size: 1.1rem;
}

.order {
    position: fixed;
    height: 5.5rem;
    top: 0;
    right: 0;
    width: 12.5rem;
}

.btn-order {
    font-size: 1.2rem;
}

.btn-order:hover {
    background-color: var(--clr-medium-green);
}

.header {
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    left: 0;
    height: 5.5rem;
    width: calc(100% - 12.5rem);
    padding-left: 4rem;
    padding-right: 1.5rem;
}

.header h1 {
    font-size: 2rem;
    margin-left: 12.5rem;
}

.img-hamburger {
    width: 35px;
}

/* Log-in */

.login-box {
    display: flex;
    align-items: center;
}

.login-box a {
    font-family: var(--font-body);
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.login-box a:link,
.login-box a:visited,
.login-box a:hover,
.login-box a:active {
    color: var(--clr-black);
}

.img-login {
    width: 25px;
    margin: 0.8rem;
}

.hero {
    justify-content: center;
}

.hero h2 {
    font-size: 3.2rem;
}

.hero h3 {
    font-size: 1.6rem;
}

.btn-explore {
    padding: 1.3rem 4.5rem;
    margin: 2rem 0 5rem;
}

.supply-content,
.catalog-content,
.differences-content {
    display: flex;
}

.differences p {
    width: 13rem;
}

.row-content-box {
    flex-direction: row;
}

.vision p {
    width: 24rem;
}

.img-vision {
    object-fit: contain;
    width: 20rem;
    height: auto;
}

.img-catalog {
    object-fit: cover;
    width: 5rem;
    height: auto;
}

.img-kit {
    object-fit: contain;
    width: 20rem;
    height: auto;
}

.hero h2,
.hero h3,
.differences h2 {
    width: 100%;
}



/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: row;
}

.footer-content-box {
    display: flex;
}




}