.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "w w w w w w w w w w w w" "h h h h h h h . . . . m" "c c c c c c c c c c c .";
}

.search-wrapper {
    grid-area: s;
    display: grid;
    grid-template-columns: inherit;
    grid-template-areas: "i i t t t t t t t t t t";
}

.top-chat {
    display: flex;
    flex-direction: row;
}

.chat-text {
    display: flex;
    flex-direction: column;
}

.white-background {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "s s s s s s s s s . . b";
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: shop;
}

.shop-wrapper {
    width: calc(50% + 18px);
    display: grid;
    grid-template-columns: auto 12px;
    grid-template-areas: "shop down";
    align-items: center;
}

.shop a {
    grid-area: shop;
    justify-self: left;
}

.down {
    grid-area: down;
}

.hero,
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.faq {
    display: flex;
    justify-content: space-between;
}

.faq-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-pictures {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.find-us,
.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hidden-faq-img {
    display: flex;
    width: fit-content;
    justify-content: start;
}

.white-background {
    grid-area: w;
}

.search-img {
    grid-area: i;
}

.search {
    grid-area: t;
}

.bag {
    grid-area: b;
}

.header-text {
    grid-area: h;
}

.hamburger-menu {
    grid-area: m;
}

.changing-text {
    grid-area: c;
}

.shop {
    grid-area: shop;
}

.search-login {
    grid-area: l;
}

.menu-list {
    grid-area: ml;
}

.about {
    grid-area: ab;
}

.wheelbarrow {
    grid-area: wh;
}

.leaf {
    grid-area: le;
}

.woman {
    grid-area: wo;
}

.offer {
    grid-area: of;
}

@media screen and (min-width: 980px) {
    .white-background {
        grid-template-columns: repeat(11, 1fr) auto;
        grid-template-areas: "s s s s s s s s l l l b";
    }
    .header {
        grid-template-columns: auto repeat(11, 1fr);
        grid-template-areas: "w w w w w w w w w w w w" "h ml ml ml ml ml ml . . c c c";
    }
    .changing-text {
        align-self: center;
        padding: 0;
        justify-self: end;
    }
    .search-login {
        display: flex;
        align-items: center;
        align-self: center;
        margin-left: auto;
    }
    .menu-list {
        position: unset;
        flex-direction: row;
    }
    .product-links-wrapper {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
    .menu-list ul {
        width: 50%;
        justify-content: space-evenly;
    }
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "ab ab ab ab ab ab wh wh wh le le le" "wo wo wo wo wo wo of of of of of of";
    }
    .name-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .names {
        width: calc(50% - 7px);
    }
    .find-us-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .contact,
    .open,
    .help {
        width: calc(100% / 5);
    }
}