header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "s s s s s s s s s . . b" "h h h h h h h . . . . m" "c c c c c c c c c c c .";
}

.search-wrapper {
    grid-area: s;
    display: grid;
    grid-template-columns: inherit;
    grid-template-areas: "i i t t t t t t t t t t";
}

.hero,
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.random-pictures {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.find-us,
.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-img {
    grid-area: i;
}

.search {
    grid-area: t;
}

.bag {
    grid-area: b;
}

.header-text {
    grid-area: h;
}

.hamburger-menu {
    grid-area: m;
}

.changing-text {
    grid-area: c;
}