.main-content {
  position: absolute;
  top: 8rem;
  left: 7%;
  width: 93%;
}

.content-card {
  background-color: white;
}

.main-background {
  background-color: #faefe9;
  height: 2600px;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
    top: 10rem;
    left: 25%;
    width: 50%;
  }
  .main-background {
    height: 2200px;
  }

  /* .main-background div:nth-child(1) {
    background-color: #faefe9;
    width: 46%;
    height: 100%;
  }

  .main-background div:nth-child(2) {
    background-color: white;
    width: 54%;
    height: 100%;
  } */
}
