/* Add your custom CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

body{
 
    font-family: Arial,Helvetica,sans-serif;
   

    
}
.btn-primary {
    color: #2F2F2E;
    background-color: rgba(207, 244, 236, 1);
    border: 3px solid rgba(207, 244, 236, 1);
    border-radius: 0%;
    border-color:  rgba(207, 244, 236, 1);

 
}

.fixed-top{
    background-color: white;
}

.navbar-brand{
    font-style: italic;
    color: #2F2F2E;
    line-height: 1.4em;
    font-family: didot-w01-italic, serif;
    
}
.ground{
    background-color: rgba(207, 244, 236, 1); 
    align-items: center;
}

.online{
    text-align: center;
    align-items: center;
   
  
}
.online h1{
    
    font-size: 34px
  
}

.about{
    text-align: center;
  
}
.therapy{
    text-align: center;
    font-family: libre baskerville,serif;
    min-height: 500px;;
  
}

.therapy h4{
    font-size: 49px;
}

.therapy p{
    font-size: 14px;
  
}

 .therapy a {
   
    text-decoration: none;
    color: black;
}

.individual{
    background-color:rgb(226,246,205);
   
}

.group{
    background-color:rgb(234,234,232);
   
}
.couples{
    background-color:rgb(207,244,236);
    
}

.articles{
     text-align: center;
    
}


.articles p{
    font-family:serif;
    font-style: italic;
    font-size: 22px;
}

.articles a {
 
    text-decoration: none;
    color: black;
}
.under{
    background-color:light;}

.icon-box {
    display: flex;
    justify-content: space-between;
    
}
.navbar-brand{
    justify-content: center;
    align-self:flex-end;
    
}
.maria a {
    color: black;

}


/* Contact Page CSS */
.contact-back{
    background-color: rgb(226,246,205);
    justify-content: center;
    text-align: center;

}
.send-join{
    background-color: rgba(207, 244, 236, 1); 

}
.social-icon{
    background-color: rgb(226,246,205);
    
}
/* Services Page CSS */

.online p{
  font-family:serif;
  font-style: italic;
  font-size: 22px;
}


