/* Add your custom CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

body {
  font-family: "Quicksand", sans-serif;
  color: #2f2f2e;
  /* font-family: 'Libre Baskerville', serif; */
}

/* nav {
  position: fixed;
} */

.button p {
  font-weight: lighter;
  padding: 20px 0px;
  background-color: #cff4ec;
  font-family: "avenir-lt-w01_35-light1475496", sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #2f2f2e;
}

a:hover {
  color: #94d6c8;
}

.title p {
  font-family: "Libre Baskerville", serif;
  font-size: 16.5px;
  font-style: italic;
}

.main-box {
  background-color: #cff4ec;
  width: 100%;
}

.main-row {
  height: 600px;
}

.main-box h1 {
  text-align: center;
  font-size: 58px;
  font-family: "Libre Baskerville, serif";
  padding: 0px 95px 50px 95px;
  color: #2f2f2e;
  /* font-family: Arial,Helvetica,sans-serif; */
}

.main-img {
  padding: 0;
}

.main-box img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.container .bio-section {
  margin-bottom: 400px;
}

.bio-section {
  background-color: #f2f2f1;
  margin-top: 120px;
  margin-bottom: 50px;
}

.bio-row {
  padding-top: 100px;
}

.about-text {
  padding-top: 15px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 22px;
}

.bio-section p {
  text-align: center;
  padding-left: 80px;
  /* font-family: 'Libre Baskerville', sans-serif;
  font-style: italic; */
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
}

.paragraph {
  padding-top: 40px;
}

.bio-img-row{
  height: 560px;
}

.bio-img {
  width: 500px;
  position: absolute;
}

.container.therapy-options {
  margin-top: 45px;
  margin-bottom: 70px;
}

.options-row {
  height: 600px;
  text-align: center;
  padding-top: 50px;

}

.individual-therapy,
.group-therapy,
.couples-therapy {
  height: 100%;
  padding-top: 70px;
}

.individual-therapy {
   background-color:#E2F6CD;
}

.group-therapy {
  background-color: #f2f2f1;
  padding-left: 30px;
  padding-right: 30px;
}

.couples-therapy {
  background-color:#cff4ec;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  padding: 35px 0px;
}

i {
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
}

.small-paragraph {
  color: black;
  padding: 0px 25px;
}

.container.article-section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.article-section {
  background-color: #f2f2f1;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 20px;
}

.row.blog-images {
  background-color: white;
  width: 90%;
  margin: 30px 0px 30px 45px;

}

.blog-images img {
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}

/* .text-row {
  border-style: solid;
} */

.text-row p {
  font-size: 17px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

.row.button-row {
  margin-top: 100px;
  margin-bottom: 10px;
}

.footer-container {
  margin-top: 20px;
  margin-bottom: 35px;
}

.socials img {
  width: 23px;
}