/* Add your custom CSS here */
.container-text-two {
    background-color: #ffffff;
}

.container-text-two {
    background-color: #E6DACD;
}
/* INSTRUCTIONS
### **DESIGN 2: Resume**
https://www.wix.com/website-template/view/html/2622  

### Fonts
**Headings:** Poppins Semi-bold 600  
https://fonts.google.com/specimen/Poppins  
**Body:** Quicksand Light 300  
https://fonts.google.com/specimen/Quicksand  

### Colors
Text colour: #000  
  
Dark beige: #E6DACD  
Light beige: #F4ECE6  
Royal blue: #0150FD  
White: #FFF   */

/* Dont' forget to link this file to your HTML in the <head> */
