/* Add your CSS here */
body {
    color: #A05941;
    line-height: 1.3;
    background-color: #EDEDEE;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    letter-spacing: 3.5px;
    font-size: 1.2rem;
    text-align: center;
    margin : 2em auto;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    background-color: #fff;
    height: 7vh;
    margin: auto 0;
    padding: 0 7px;
}

.placeholder p {
    margin-left: 0;
    font-size: .5rem;
    font-weight: 100;
}
.search {
    width: 60%;
    height: 3em;
}

.bi-search{
margin-right: 0;
}

.bi-person-circle,
.fa-shopping-bag {
    font-size: 1.5rem;
}

input {
    border:none;
}
/* navigation  */
.nav {
    position: fixed;
    background:#EDEDEE;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}

.navigation-open {
    transform: translateX(-100%);
}
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-link {
    color: #A05941;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 200;
}

.close-nav {
    font-weight: 200;
    font-size: 3rem;
    position: absolute;
    top:170px;
    left:270px;
    padding: .5em;
    cursor: pointer;
    color: #A05941;
    border: 0;
    background: 0;
}

.open-nav {
    font-size: 2em;
    padding: .5em;
    margin-left: auto;
    cursor: pointer;
    color: #A05941;
    border: 0;
    background: 0;
}

.nav-link:hover,
.nav-link:focus {

}

/* head-bar */

.desktop-head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-decoration: none;
    color: #A05941;
}

.head-bar p {
    margin: 0;
    letter-spacing: 1.5px;
    font-size: .9rem;
}

/* hero */

.hero {
    width: 100%;
    margin: 1em auto;
    min-height: 70vh;
    max-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/0.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    /* filter:url(#blue-wash); */
    padding: 2em 0;
}

.hero-icon {
    width: 150px;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 2.5px;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}

.hero-title p {
    border-bottom: 2px solid white;
}

.hero h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px #123123;
}

.hero h2 {
    font-family: 'outfit', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #123123;
}

.btn {
    font-size: 1rem;
    display: inline-block;
    background-color: #A05941;
    color: #fff;
    text-decoration: none;
    margin-top: 0;
    padding: .5em 2em;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    margin: 1em 0;
}

.img-title {

    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px;
    font-size: 1.2rem;

}


.item-img1 {
    background-image: url(../img/4.png);
    background-size: cover;
    width: 98%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img2 {
    background-image: url(../img/2.png);
    background-size: cover;
    width: 98%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;

}

.item-img3 {
    background-image: url(../img/3.png);
    background-size: cover;
    width: 98%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-collection {
    padding: .7em 1em;
}

/* ============
    About Us 
============== */

.about-us {
    font-size: 1rem;
    height: auto;
    background-color: #fff;
    text-align: center;
    padding:2em 1.5em;
    line-height: 2;
}


.about-us p,
h3 {
    margin: 0;
}

.thumbnail {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
}

.sale {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 1em 0;
    margin-top: 0;
    background-color: #133032;
    color: #fff;
    font-size: 3.75rem;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.sale .shop-btn {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #123123;
    padding: .7em 2.6em;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}

/* ============
    Contact 
============== */

/* form */

.form {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    padding: .5em 1em;
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(11,minmax(70px,auto)) ;
    gap:0; */
    height: auto;
    background-color: #fff;
    color: black;
}


.form input,
 textarea {
    width: 95%;
    height: 2.2rem;
    border:.5px solid black;
    margin: .6em 0;
}

.form input:hover,
textarea:hover {
     border: 4px solid black;
  
}

textarea{
    height: 10rem;
}
.form h3 {
    margin : 2em auto;
    width: 50%;
    color: #A05941;
}

.send-btn {
    display: inline-block;
    width: 96%;
    padding: .8em 1em;
    font-size: 1rem;
    border: none;
    color: #fff;
    background-color: #A05941;
    margin-bottom: 2em;
    cursor: pointer;
}
/* 
.first-name {
    grid-template-columns:1/2;
    grid-row:1;
}
#first-name {
    grid-template-columns: 1/-1;
    grid-row: 2;
}

.last-name {
    grid-template-columns: 1/2;
    grid-row: 3;
}
#last-name {
    grid-template-columns: 1/-1;
    grid-row: 4;
}

.email {
    grid-template-columns: 1/2;
    grid-row: 5;
}
#email {
    grid-template-columns: 1/-1;
    grid-row: 6;
}

.phone {
    grid-template-columns: 1/2;
    grid-row: 7;
}
#phone {
    grid-template-columns: 1/-1;
    grid-row: 8;
}

.message {
    grid-template-columns: 1/2;
    grid-row:9;
}
#message {
    grid-template-columns: 1/-1;
    grid-row: 10;
}
.send-btn{
    grid-template-columns: 1/-1;
    grid-row: 11;
} */
.info {
    font-family: 'outfit';
    font-weight: 200;
    font-size: 1rem;
    color: #fff;
    background-color: #133032;
    padding: 3em 0 2em;
}
.info-flex {
    text-align: center;
}
.info-sec {
    margin: 3em;
}

.information-link {
    margin:2em auto 5em;
}
.info-link {
    display: inline-block;
    margin: .2em 0;
    color: white;
}

.subscription {
 display: flex;
 flex-direction: column;
 align-items: stretch;
}

.subscription-title {
    margin-bottom: 1em;
}
.subscription input {
    width: 90%;
    height: 2.2rem;
    border:.5px solid #fff;
    margin-top: 0;
    margin-bottom: .5em;
    background: transparent;
}
.subscription input:hover {
    border: 5px solid #fff;
}

.email-label {
    font-size: 1.1rem;
    padding-left: 1em;
    margin-bottom: 0.3em;
    text-align: left;
}
.email-wrapper {
    text-align: center;
}

.subscribe-btn {
    display: inline-block;
    width: 83%;
    padding: .8em 1em;
    font-size: 1rem;
    border: none;
    color: #133032;
    background-color:#fff;
    margin-bottom: .5em;
    cursor: pointer;
    text-decoration: none;
}
.social-media  {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media .fa {
    margin:1em .5em;
}

.map {
    width: 100%;
    height:70vh;
    background-image: url(../img/map.png);
    background-size: cover;
    background-position: center;
}


footer {
    text-align: center;
}

/* ============
  small Screen
============== */
@media (max-width:600px){
    .phone-hidden {
        display:none;
        visibility: hidden;
    }

    
}




/* ============
  Large Screen
============== */
@media (min-width:600px){
    .desktop-width {
        width: 90%;
        margin: 0 auto;
    }

    .open-nav,
    .close-nav {
        display: none;
    }
         
    .nav {
        position: initial;
    }
    .nav-list {
        margin:0 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-item {
        font-size: 1rem;
        margin: .5em;
        font-family:'outfit', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .nav-link {
        font-size: 1rem;
        display: inline-block;
        background-color:transparent;
    }
    
    .head-bar {
        display: flex;
        justify-content:flex-start;
    }

    .desktop-login {
        margin-right: 1em;
        color: #A05941;
        text-decoration: none;
    }
    .bi-person-circle {
        padding-right: .5em;
    }
    .desktop-searchbar a:hover {
        color: #a05941a2;
    }
   
    .search-bar i {
        margin:0;
    }
    .placeholder{
        margin: auto .5em ;
    }
    .search-input-icons {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .temp-search-flex {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .desktop-hidden {
        display: none;
        visibility: hidden;
    }
    .head-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right:1em;
    }
    .desktop-head-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-end;
    }
    .desktop-head-bar a:hover {
        color: black;
    }
    .hero h1 {
        font-size: 7rem;
        margin: 0;
    }

    .shop-btn {
        margin-top: 1.5em;
        font-size: 1.2rem;
    }

    .store-img {
        display: flex;
        flex-direction: row;
        gap:1em;
    } 

    .about-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,minmax(250px ,auto));   
    }

    .about-us {
        grid-column: 1/3;
        grid-row: 1;
    }
    .thumbnail1 {
        grid-column: 3/4;
        grid-row: 1;
    }
    .thumbnail2 {
        grid-column: 4/5;
        grid-row: 1;
    }

    .thumbnail3{
        grid-column: 1/3;
        grid-row: 2;
    }
    .sale {
        grid-column:3/5;
        grid-row: 2;
    }

    .form-background {
        background-image: url(../img/8.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5em 0;
    }
    
    .form {
        width: 50%;
        margin:0 auto;
        background-color: rgba(255, 255, 255, 0.521);
        padding: 1em;
    }
    .form h3 {
        font-size: 1rem;
    }
/* dont know why last name input is out of place */
    .form input,
    .form textarea {
        width: 100%;
     
    }

    .form-layout {
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap:1em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    .first-name {
        grid-column:1/2;
        grid-row:1;
    }
    .last-name {
        grid-column:2/3;
        grid-row:1;
    }
    .email {
        grid-column:1/-1;
        grid-row:2;
    }
    .phone {
        grid-column:1/-1;
        grid-row:3;
    }
    .message {
        grid-column:1/-1;
        grid-row:4;
    }
    .send-btn {
        width: 100%;
        grid-column:1/-1 ;
        grid-row: 5;
        margin-bottom: 0;
    }
    .info {
        padding-bottom:3em ;
    }
    .info-flex {
        display: flex;
        justify-content:center;
    }

    .info-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:2em 4em;
    }
    .subscription {
        width: 30%;
        margin: 0 auto;
    }
    .email-wrapper {
    display: flex;
    justify-content:space-between;
    }
    .subscription input {
        width: 50%;
    }
    .subscribe-btn {
        width: 30%;
        padding: .5em 1em ;
    }

}
