.main-content {
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 90%;
}

.content-card {
  background-color: white;
  /* max-width: 376px; */
}

.main-background {
  background-color: #faefe9;
  height: 2600px;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
    /* left: 25%; */
    /* max-width: 50%; */
    min-width: 700px;
  }
  .main-background {
    height: 2200px;
  }

  /* .main-background div:nth-child(1) {
    background-color: #faefe9;
    width: 46%;
    height: 100%;
  }

  .main-background div:nth-child(2) {
    background-color: white;
    width: 54%;
    height: 100%;
  } */
}
