/* Add your custom CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

.container {
    border: 2px solid rgb(58, 2, 58);
    background-color: #ebe8f0;
}

header {
    background-color: rgb(35, 6, 63);
    color: #eeebf3;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.figuretop {
    padding: 5px 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    justify-content: space-around;
    align-items: center;
}

.list-elements {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .list-elements {
        display: flex;
        flex-direction: column;
    }
}

.list-elements li {
    padding: 5px;
    margin: 0em;
    flex-direction: row;
    align-self: center;
}

/* Change color on hover */

.list-elements li:hover {
    background-color: #ddd;
    color: black;
}

.contact {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .contact{
        flex-direction: row;
    }
}
.hero-image {
    margin-top: 10px;
    padding: 0 2px;
}

.row3 {
    display: flex;
    justify-content: center;
}

.sectiontitle {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(77, 19, 104);
    font-weight: 500;
}


.row4image {
    padding-right: 0px;
    padding-left: 0px;
}

.heromin-image {
    padding: 0 3px;
}

.widerrow {
    margin-bottom: 0em;
    background-color: rgb(151, 152, 211);
    padding-right: 0px;
    padding-left: 0px;
}

.imagebox {
    padding-right: 0;
    padding-left: 0;
}

.smallimage {
    display: block;
    width: 100%;
}

h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
}

.row8 {
    background-color: #d5b8ff;
}

.submission {
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    margin-left: 20px;
}

.emailbox {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    height: 80px;
}

.submit{
    margin-bottom: 20px;
    align-self: center;
}