@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300&display=swap');

/* 
Font
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; 
*/


/*FRAME PARTS: HEADER, FOOTER, EXTRA*/
:root
{
    --Dark-Beige: #E6DACD;
    --Light-Beige: #F4ECE6;
    --Royal-Blue: #0150FD;
    --Black: #000;
    --White: #FFF;
}

/*HEADER FRAMEWORK START*/
.header-content
{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
}

.header-img
{
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 5px;
    width: 16px;
    height: 16px;
}

.header-main
{
    display: flex;
}

.header-sub
{
    visibility: hidden;
    display: none;
}

.header-sub ul
{
    display: flex;
    justify-content: flex-end;
    text-align: center; 
    list-style-type: none;
}

.header-sub ul li
{
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.dropdown-button
{
    display: flex;
    width: 2rem;
    visibility: visible;
    display: contents;
}

.header-2
{
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    visibility: hidden;
}

.header-3
{
    padding-top: 14px;
}

/*HEADER GRID PART START*/
.dropdown-button
{
    visibility: visible;
}

#gallery-text-left{
    width: 50%;

}
#gallery-paragraph-1{
border-left:8px solid #3CB371;
border-radius:4px;
padding-left:15px;
    word-wrap: break-word;
}
#gallery-paragraph-2{
border-left:8px solid #3CB371;
border-radius:4px;
padding-left:15px;
}


#gallery-text-right{
    width: 50%;

}

body
{
  background: white;
}

body .header-text
{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

body .header-text span
{
    text-transform: none;
    opacity: .5;
    font-weight: 300;
    font-size: 12px;
}


input + label
{
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px; 
    z-index: 5;
}

input + label span 
{
    position: absolute;
    width: 200%;
    height: 4px;
    top: 70%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #000000;
    transition: .5s;
    border-radius: 5px;
}

input + label span:first-child
{
  top: 0px; 
  width: 100%;
}

input + label span:last-child
{
  top: 30px; 
  width: 100%;
  margin-left: 14px;
}


label:hover
{
    cursor: pointer;
}

input:checked + label span
{
  transform: rotate(-45deg);
}

input:checked + label span:first-child 
{
  top: 40%;
  transform: rotate(35deg);
}

input:checked + label span:last-child
{
  top: 90%;
  transform: rotate(35deg);
}

span
{
    top: 50%;
}
@media ( max-width: 540px ) 
{
    input ~ .nav-1
    {
        background:  #F4ECE6;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 3;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
        text-decoration: none;
        display: hidden;
    }
}


input ~ .nav-1 ul
{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}

input ~ .nav-1 ul li 
{
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

input ~ .nav-1 ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
}

input:checked ~ .nav-1 
{ 
    height: 100%;
    transition-delay: 0s;
} 

input:checked ~ .nav-1 ul li 
{
    opacity: 1;
    transition-delay: .5s;
}

.checkbox
{
  display: none;
  visibility: hidden;
}

.header-text
{
    flex: auto;
    margin-top: 0;
    margin-left: 28px;
}

/*HEADER GRID PART END*/

/*HEADER FRAMEWORK END*/


/*FOOTER FRAMEWORK START*/

.grid-items-1
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;

    grid-column-gap: 0;
}

.margin-control
{
    margin-bottom: 0;
}

.credits
{
    text-align: center;
}

/*FOOTER FRAMEWORK END*/


/*MEDIA CODE START*/
@media (min-width: 540px)
{
    .grid-items-1
    {
        display: grid;
        display: flex;
        position: absolute;
        float: right;
        margin-left: 70%;
    }

    .grid-img-1
    {
        padding: 1rem;
    }

    .footer-notes
    {
        padding: 1rem;
        padding-top: 2rem;
    }
}

/*MEDIA CODE END*/



/*LINK TO TOP START*/

.top-link
{
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: .25em;
    width: 30px;
    height: 30px;
    background-color: var(--Royal-Blue);
}

.top-link .show 
{
    visibility: visible;
    opacity: 1;
}
    
.top-link .hide 
{
    visibility: hidden;
    opacity: 0;
}
  
svg
{
    fill:white;
    width: 20px;
}


.screen-reader-text
{
      position: absolute;
      clip-path: inset(50%);
      margin: -1px;
      border: 0;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      word-wrap: normal !important;
      clip: rect(1px, 1px, 1px, 1px);
}

/*LINK TO TOP END*/




/*FONT STYLING START*/

h1
{
    font-family: 'Poppins', sans-serif;
}

h2
{
    font-family: 'Poppins', sans-serif;
}

h3
{
    font-family: 'Poppins', sans-serif;
}

h4
{
    font-family: 'Poppins', sans-serif;
}

h5
{
    font-family: 'Poppins', sans-serif;
}

h6
{
    font-family: 'Poppins', sans-serif;
}

p
{
    font-family: 'Quicksand', sans-serif; 
}

/*FONT STYLING END*/











/*MAIN*/


/*GRID STUFF START*/
article 
{
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

section:nth-child(1) { grid-column: 1 / 20; grid-row: 1 / 16; }
section:nth-child(2) { grid-column: 14 / 24; grid-row: 4 / 13; z-index: 1; }
section:nth-child(3) { grid-column: 20 / 51; grid-row: 1 / 16; }

@media ( max-width: 540px ) 
{
   article { grid-template-columns: 100px; justify-content: center; }
   section:nth-child(1) { grid-row: 1 / 5; grid-column: -40 / 40; }
   section:nth-child(2) { grid-row: 1 / 10; grid-column: -30 / 38; }
   section:nth-child(3) { grid-row: 5 / 18; grid-column: -40 / 40; }
}

/* non-essential demo styles */
section:nth-child(1) { background-color: var(--White); }
section:nth-child(2) { background-color: var(--Light-Beige); }
section:nth-child(3) { background-color: var(--Dark-Beige); }
section 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

/*GRID STUFF END*/





.main-img
{
    height: 10rem;
    border-radius: 50%;
}

.small-window
{
    width: 100%;
    text-align: center;
}

.main-button-container li
{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    vertical-align: top;
}

.main-button-1
{
    border: 1px solid var(--Royal-Blue);
    background-color: var(--Royal-Blue);
    border-radius: 50px;
}

.main-button-1 a
{
    color: var(--White);
    text-decoration: none;
}

.main-button-1:hover
{
    background-color: unset;
    border: 1px solid var(--Royal-Blue);

}

.main-button-1 a:hover
{
    color: var(--Black);
}

.main-button-2
{
    border: 1px solid var(--Black);
    border-radius: 50px;
}

.main-button-2 a
{
    color: var(--Black);
    text-decoration: none;
}

.main-button-2:hover
{
    background-color: var(--Royal-Blue);
    border: 1px solid var(--Royal-Blue);

}

.main-button-2 a:hover
{
    color: var(--White);
}


/***/
.main-button-container-2 li
{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    vertical-align: top;
}

@media (max-width: 540px)
{
    .main-button-container-2 li
    {
        visibility: hidden;
        display: none;
    }
}

.main-button-3
{
    border: 1px solid var(--Royal-Blue);
    background-color: var(--Royal-Blue);
    border-radius: 50px;
}

.main-button-3 a
{
    color: var(--White);
    text-decoration: none;
}

.main-button-3:hover
{
    background-color: unset;
    border: 1px solid var(--Royal-Blue);

}

.main-button-3 a:hover
{
    color: var(--Black);
}

.main-button-4
{
    border: 1px solid var(--Black);
    border-radius: 50px;
}

.main-button-4 a
{
    color: var(--Black);
    text-decoration: none;
}

.main-button-4:hover
{
    background-color: var(--Royal-Blue);
    border: 1px solid var(--Royal-Blue);

}

.main-button-4 a:hover
{
    color: var(--White);
}

.main-button-container-3
{
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.main-button-container-3 li
{
    display: inline-block;
}

.main-button-container-3 li a
{
    color: var(--Black);
    text-decoration: none;
}



.main-h3
{
    font-weight: normal;
    visibility: hidden;
}

.main-img-container
{
    margin-top: 8rem;
    background-color: var(--White);
}


.main-text-container
{
    margin: 2rem;
}

.hello-text
{
    font-size: 100px;
    margin-bottom: 50px;
    margin-top: 20rem;
}

