/* Media Queries */


@media screen and (min-width: 994px) {      
    
    /* Header */     /* Navbar */

    header {
        display: grid;
        grid-template-columns: 20% 50% 10% 10% 10%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "search . login-icon log-in bag-icon"        
        "heading nav call-us-now call-us-now call-us-now";    
        align-items:center;
        justify-content: center;  
      
    }   

    .hamburger-icon {
        display: none;
    }

    nav ul{
        display: block;
    }  


    .login-icon {
        display: block;
        grid-area: login-icon;
        justify-self: right;
    }

    .log-in {
        grid-area: log-in;
        justify-self: right;
        font-family: 'Outfit', sans-serif; ;
    }


    nav {
        grid-area: nav;
        align-self: left;
        font-family: Outfit, sans-serif;
    }

    .call-us-now {
        justify-self: right;        
    }

    nav ul li{
        float: left;
        list-style: none;
    }

    nav ul li {
        width: 70px;
        text-align: center;
    }

    /* Section: flex-container */

    .flex-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-item {
        margin-bottom: 0;
        margin: 0;
    }

    /* Section:advert-container  */

    .advert-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "paragraph paragraph home leaf"
        "greenhouse greenhouse advert advert";
    } 

    .paragraph {
        grid-area: paragraph;
    }
    
    .home {
        grid-area: home;
    }

    .leaf {
        grid-area: leaf;
    }

    .advert {
        grid-area: advert;
    }

    .greenhouse {
        grid-area: greenhouse;
    }
    
}