.menu-wrap{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .humburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--beige-light); */
    display:flex;
    align-items: center;
    justify-content: center;
}

/* humburger line  */
.menu-wrap .humburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--blue-royal);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* top & bottom line  */
.menu-wrap .humburger > div:before,
.menu-wrap .humburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* move line down  */
.menu-wrap .humburger > div:after{
    top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .humburger > div{
    transform: rotate(135deg);
}
/* turn line in to X  */
.menu-wrap .toggler:checked + .humburger > div:before,
.menu-wrap .toggler:checked + .humburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* rotate on hover when checked  */
.menu-wrap .toggler:checked:hover + .humburger > div{
    transform: rotate(225deg);
}

/* shwo menu  */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--beige-light);
    border-radius: 50%;
    width: 2000px;
    height: 2000px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform:scale(0);
    transition: all 0.4s ease;
    
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    font-family:var(--heading-font);
}
.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    
}