
:root {
    --heading-font: 'Questrial', sans-serif;
    --button-font: 'Raleway', sans-serif;
    --body-font:'Roboto', sans-serif;
    --main-color: #fff;
    --secondary-color: #000;
    --store-page-box-color: rgb(139, 139, 139);
    --background-color-1: #f5e8ff;
    --background-color-2 :#E6FAC0;
    --footer-color: #304B2A;
    --button-hover: #5E7D1F;
}

* {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
} 
button {
    font-family: var(--button-font);
    background-color: transparent;
}
a {
    color:var(--secondary-color);
}
img {
    width: 100%;
    object-fit: cover;
}
h1, h2 {
    font-family: var(--heading-font);
    font-weight: 100;
    line-height: 2.3rem;
    font-size: 2rem;
}
body {
    font-family: var(--body-font);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px 100px;
    background-color: var(--background-color-2);
}
header {
    grid-column: span 12;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.header-user-icon {
    grid-column: 6/8;
    width: auto;
    height: 100%; 
    display: inline;
}
.header-logo {
    grid-column: span 6;
    font-family: var(--heading-font);
    text-align: left;
    font-weight: 400;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}
.header-hamburger-icon {
    grid-column: 11/ 12;
    width: auto;
    height: 100%; 
} 

main {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
}

.menu-section {
    grid-column: span 12;
}


.cold-pressed {
    grid-column: span 12;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 1rem;
    
}

.smoothies {
    grid-column: span 12;
}
.wellness-shots {
    grid-column: span 12;
}

.cleanse-kit {
    grid-column: span 12;
}

footer {
    grid-column: span 12;
}

.cold-pressed-img1 {
    background-image: url(../images/store1.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.cold-pressed-img2 {
    background-image: url(../images/store2.jpg); 
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;  
}
.cold-pressed-img3 {
    background-image: url(../images/store3.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.smoothies-img1 {
    background-image: url(../images/store4.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.smoothies-img2 {
    background-image: url(../images/store5.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.smoothies-img3 {
    background-image: url(../images/store6.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.wellness-img1 {
    background-image: url(../images/store7.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.wellness-img2 {
    background-image: url(../images/store8.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.wellness-img3 {
    background-image: url(../images/store9.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.cleanse-img1 {
    background-image: url(../images/store10.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.cleanse-img2 {
    background-image: url(../images/store11.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.cleanse-img3 {
    background-image: url(../images/store12.jpg);
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
}



@media screen and (max-width: 430px) {
    .menu-section > ul {
        display: none;
    }
    .menu-section > p {
        display: none;
    }
    header {
        display: none;
    }
    .cart-section {
        display: none;
    }
    footer {
        display: none;
    }
    .cold-pressed > h1 {
        grid-column: span 12;
        border-bottom: 2px solid var(--store-page-box-color);
        box-shadow: 1px 1px 3px var(--store-page-box-color);
        padding: 0.5rem;
        text-align: center;
    }
    .cold-pressed > h2 {
        grid-column: 1/11;
        border-bottom: 1px solid var(--store-page-box-color) ;
    }
    .up-icon {
        grid-column: 11/13;
        width: 30px;
        border-bottom: 1px solid var(--store-page-box-color) ;
    }
    .cold-pressed-img1 {
        grid-column: 1/3;
        grid-row: 3/5;
       
    }
    .cold-pressed-img2 {
        grid-column: 1/3;
        grid-row: 5/7;
        
    }
     .cold-pressed-img3 {
        grid-column: 1/3;
        grid-row: 7/9;
    
    }
    .product-name {
        grid-column: 4/8;
    }
    .product-description {
        grid-column: 4/ 11;
    }
    .product-price {
        grid-column: 12/13;
    }
    .full-text {
        display: none;
    }

}