header {
  height: 120px;
  padding-top: 20px;
}
main {
  background-color: var(--Darkbeige);
}
.pages-title {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pages-title_head {
  font-family: var(--title-font);
  font-size: 35px;
  text-align: center;
}
.page-title_blue-box {
  height: 20px;
  width: 20px;
  background-color: var(--Royalblue);
}
.btn-3-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  justify-content: space-around;
}
.card-btn_3,
.card-btn_4 {
  display: flex;
  flex-direction: row;
  padding: 2px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-family: var(--title-font);
  text-decoration: none;
}
.card-btn_3 {
  background-color: none;
  color: var(--text-black);
}
.card-btn_4 {
  background-color: var(--Royalblue);
  color: var(--text-white);
}
.experience-box,
.skill-box {
  background-color: var(--text-white);
  box-shadow: 5px 10px #888888;
  margin: 35px;
  padding: 40px;
}
.exp-box_date {
  font-family: var(--title-font);
  color: var(--Royalblue);
  font-weight: bold;
  margin-bottom: 15px;
}
.exp-box_job {
  margin-bottom: 15px;
}
.exp-box_company,
.exp-box_location {
  font-size: 15px;
}
.exp-box_location {
  margin-bottom: 20px;
}
.title-info {
  font-size: 20px;
  font-family: var(--title-font);
  color: var(--text-black);
  padding-left: 35px;
  margin-bottom: 30px;
}

li {
  padding-bottom: 20px;
  font-size: 18px;
}
ul li::before {
  content: "🟦";
  font-size: 100%;
  padding-right: 20px;
  color: blue;
}
.skill-box_title {
  font-size: 25px;
  font-family: var(--title-font);
  margin-bottom: 30px;
}
/* *****Project Page***** */
.pages-title_p{
    text-align: center;
    margin: 20px;
    line-height: 30px;
}
.project-details{
background-color: var(--text-white);
box-shadow: 5px 10px #888888;
margin: 35px;
padding-top: 10px;
display: grid;
grid-template-columns: 10px 1fr 1fr;
grid-template-rows: 1fr auto;
}
.project-details_line{
    border-left: 8px solid var(--Royalblue);
    height: 50px;
    grid-row: 1;
    margin-top: 15px;
}
.info-area {
    grid-column: 2/4; 
    margin-bottom: 20px;
}
.project-details_title{
    padding-left: 15px;
    font-size: 17px;
    color: var(--Royalblue);
    font-family: var(--title-font);
}
.project-details_subtitle{
    padding-left: 15px;
    
}
.project-details_text{
    padding-right: 15px;
    padding-left: 25px;
    grid-column: 1/4;
    margin-bottom: 20px;
    line-height: 30px;
}
.project-details_img{
    padding: 0;
    width: 100%;
    object-fit: cover;
    grid-column: 1/4;
    grid-row: 3/4;
}
/* *****Project Page***** */
/* *****Contact Us Page***** */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact{
    margin: 30px;
    padding: 20px;
    background-color: var(--text-white);
}
label{
    font-family: var(--title-font);
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: transparent;
    box-sizing: border-box;
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--text-black);
}
input:focus {
    border-color: var(--Royalblue);
  }

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  span{
    color: var(--Royalblue);
    font-size: 20px;
  }
  .contact-btn{
    background-color: var(--Royalblue);
    color: var(--text-white);
    padding: 5px 40px;
    border-radius: 25px;
    font-size: 20px;
    font-family: var(--title-font);
    text-decoration: none;
  }
  .submit-btn{
    margin-bottom: 50px;
    text-align: center;
  }
  /* *****Contact Us Page***** */
/* _+_+_+_+_+_+_+_+ DESKTOP VERSION _+_+_+_+_+_+_+_+ */
  /* !!!!!!!!! Resume Page Desktop View !!!!!!!!! */
  @media only screen and (min-width: 900px) {
    body {
      margin: auto;
      max-width: 1044px;
    }
    .btn-1-2 {
      display: none;
    }
    header {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-around;
    }
    .header-blue-box{
      position: absolute;
      top: 50px;
      left: 70px;
    }
    .logo-span{
      font-family: var(--normal-font);
      color: var(--text-black);
    }
    .logo-area {
      display: flex;
      align-content: space-between;
      align-items: center;
    }
    nav {
      display: flex;
      gap:20px;
      text-decoration: none;
    }
    nav > a {
      text-decoration: none;
      color: var(--text-black);
    }
    .nav-item:hover{
      color: var(--Royalblue);
      transition: .5s;
    }
    .nav-item:active {
      color:var(--Royalblue)
    }
  main {
    display: block;
    background-color: var(--Darkbeige);
  }
  .main-resume-page {
    padding-left: 100px;
    padding-right: 100px;
  }
  .experience-box {
    display: grid;
    grid-template-columns: 30px repeat(6, 1fr);
    grid-template-rows: 50px;
    grid-template-areas: 
    " . . . . . . ."
    " . d d . . . .  "
    " . j j . tx1 tx1 tx1  "
    " . cn cn . tx1 tx1 tx1  "
    " . cl cl . tx2 tx2 tx2  "
    ;
  }
  .exp-box_date {
    grid-area: d;
  }
  .exp-box_job {
    grid-area: j;
  }
  .exp-box_company {
    grid-area: cn;
  }
  .exp-box_location{
    grid-area: cl;
  }
  .intro-text_1 {
    grid-area: tx1;
  }
  .intro-text_2 {
    grid-area: tx2;
  }
  
   /* !!!!!!!!! Resume Page Desktop View !!!!!!!!! */
    /* !!!!!!!!! Project Page Desktop View !!!!!!!!! */
    .main-project-page {
      padding-left: 100px;
      padding-right: 100px;
    }
    .pages-title_p{
      text-align: center;
      margin: 20px;
      line-height: 30px;
  }
  .project-details{
  background-color: var(--text-white);
  box-shadow: 5px 10px #888888;
  margin: 35px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 10px 1fr 1fr;
  grid-template-rows: auto;
  }
  .project-details_line{
      border-left: 8px solid var(--Royalblue);
      height: 50px;
      grid-row: 1;
      margin-top: 15px;
  }
  .info-area {
      grid-column: 2/4; 
      margin-bottom: 20px;
  }
  .project-details_title{
      padding-left: 15px;
      font-size: 17px;
      color: var(--Royalblue);
      font-family: var(--title-font);
      grid-column: 1/2;
      grid-row: 1;
  }
  .project-details_subtitle{
      padding-left: 15px;
      grid-row: 1;
  }
  .project-details_text{
      padding-right: 15px;
      padding-left: 25px;
      grid-column: 1/3;
      grid-row: 2;
      margin-bottom: 20px;
      line-height: 30px;
  }
  .project-details_img{
      padding: 0;
      width: 100%;
      object-fit: cover;
      grid-column: 3/4;
      grid-row: 2;
  }
     /* !!!!!!!!! Project Page Desktop View !!!!!!!!! */
    /* !!!!!!!!! Contact Page Desktop View !!!!!!!!! */
    .main-contact-page {
      padding-left: 100px;
      padding-right: 100px;
    }
    form{
  display:grid ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,1fr);
  }
  .email-field {
    grid-row: 2;
    grid-column: 1/3;
  }
  .subject-field {
    grid-row: 3;
    grid-column: 1/3;
  }
  .message-field {
    grid-row: 4;
    grid-column: 1/3;
  
  }
  .submit-btn {
    grid-row: 5;
    grid-column: 1;
  }
    .submit-btn{
      margin-bottom: 50px;
      text-align: left;
    }
  /* !!!!!!!!! Contact Page Desktop View !!!!!!!!! */
  }