 * {
   margin: 0%;
   padding: 0;
   box-sizing: border-box;
 }
 
 /* head */
 .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #00BAF0; */
  /* background: linear-gradient(to left, #050505, #060606); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #FFF; */
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
a:link {
  text-decoration: none;
}
a:hover{
  color: #0050ff;
}
#onlink {
  color: #0050ff;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
  
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #333; */
    height: 3.5em;
    padding: 0.5em;
    font-weight: bold;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  background-color: #f4ece6;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* main */
 main {
  background-color: #f4ece6;
 } 
 .hero {
  padding: 1rem;
 }
 .hero h1 {
  font-size: 9vw;
  text-align: center;
  margin-bottom: 1rem;
 }
  .hero p {
    font-size: 6vw;
  }
 .hero div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  }
  
 article {
  background-color: white;
  width: 90%;
  margin: 3rem auto;
  padding: 1.5rem;
 }
 article h2 {
  margin-bottom: 1rem;
  font-size: 6vw;
  /* color: #0050f2; */
 }
 article h2 a {
  color: #0050f2;
 }
 .article-container .role {
  font-size: 5vw;
  margin-bottom: 1rem;
 }
 .article-container p {
  font-size: 5vw;
  margin-bottom: 1rem;
 }
 article img {
  width: 75vw;
 }
  
  
  
 /* footer */
 footer {
  margin: 1rem 0;
 }
 footer h2 {
  padding: 0 1.5rem;
}
.contact {
    display: flex;
    margin-bottom: 1rem;
 }
 .call p {
  margin-left: 1.5rem;
 }
 .write p{
  margin-left: 1.5rem;
 }
  
 /* .hero-social {
    margin: 1rem auto;
 } */
 .social a{
    padding: 1rem;
  }
  .social .fa-facebook {
  background: white;
  color: black;
}
.social .fa-twitter {
  background: white;
  color: black;
}
.social .fa-linkedin {
  background: white;
  color: black;
}
.social .fa-instagram {
  background: white;
  color: black;
 }
 @media screen and  (min-width: 700px) {
  .container {
    display: flex;
  }
  .hero {
    padding: 0 1rem;
    width: 60%;
   margin: 3rem auto;

  }
  .hero h1 {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 1rem;
 }
  .hero p {
    font-size: 2vw;
    text-align: center;
    /* padding: 0.5rem 10rem; */
  }
  article {
  background-color: white;
   margin: 3rem auto;
   display: flex;
   flex-direction: row;
   width: 60%;
    /* padding: 2rem; */
 }
 /* article h2 {
  margin-bottom: 1rem;
  font-size: 3vw;
  color: #0050f2;
 } */
 article h2 a {
  /* color: #0050f2; */
  font-size: 3vw;
 }
 .article-container {
  padding: 1.5rem;
 }
 .article-container .role {
  font-size: 2vw;
  margin-bottom: 1rem;
 }
 .article-container p {
  font-size: 1.5vw;
  margin-bottom: 1rem;
  margin-right: 2rem;
 }
 article img {
  width: 25vw;
  }
 
 
}