:root {
    --blue: #0150FD;
    --black: #000000;
    --white: #FFFFFF;
    --leather: #E6DACD;
    --ivory: #F4ECE6;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

.card {
    padding: 0;
}

.project-card {
    display: flex;
    margin: 5rem 0;
}

.project-name {
    border-left: 1rem solid var(--blue);
    padding-left: 2rem;
}

.project-name .blue-heading {
    margin-bottom: 0.5rem;
}

.project-left {
    width: 60%;
    padding: 5rem 0rem;
}

.project-left .card-text {
    padding: 3rem;
}

.project-right {
    width: 40%;
}

.project-right img {
    width: 100%;
    height: 100%;

    
    