:root {
    --red-brown: #A05941;
    --green-black: #133032;
    --light-grey: #EDEDEE;
    --white: #FFF;
    --light-brown: #a059415e;
    --transparent-white: rgba(0,0,0,0.75);
    --transparent-white-form: #ffffff6e;
}
