.hero {
  min-height: 100vh;
  background: url("../img/shop-background.png");
  justify-content: center;
}
.hero h1 {
  font-size: 6rem;
  text-align: center;
}
.hero p {
  text-align: center;
}
.item-grid {
  display: grid;
  grid-gap: 3rem;
  grid-auto-flow: row;
  width: 100%;
  margin-bottom: 3rem;
}
h4 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem;
}
.product {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.product-img,
.alternative {
  width: 100%;
}
.product.withalt:hover .product-img {
  display: none;
}
.product.withalt:hover .alternative {
  display: initial;
}
.product p {
  text-align: center;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  font-family: var(--body-font);
  font-weight: 500;
}
.product .alternative {
  display: none;
}
.old-price {
  text-decoration: line-through;
}
.best-seller,
.new {
  position: relative;
}
.best-seller:after,
.new:after {
  position: absolute;
  left: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.best-seller::after {
  content: "Best Seller";
}
.new::after {
  content: "New Arrival";
}
@media screen and (min-width: 900px) {
  .hero {
    padding: 0 15%;
  }
  .item-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
