@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
    font-family: 'Outfit', sans-serif;;
}
main {
  background-color: #ededee;
}
.btn {
  border: none;
  display: inline-block;
  padding: 10px 30px;
  background-color: #a05841;
  color: #ffff;
  font-size: 1rem;
}
.underline {
  height: 2px;
}
h1 {
  font-weight: bolder;
  color: #a05841;
}
.shop-btn {
  border: none;
  display: inline-block;
  padding: 10px 30px;
  background-color: #a05841;
  color: #ffff;
  font-size: 1rem;
}
button:hover{
    cursor: pointer;
}
/* ---------------------------------- */
.search {
  padding: 1rem;
  border-width: 50%; 
}
.search input{
    height: 2rem;
}


/* header and navbar------------------------------ */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ededee;
  height: 100px;
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-wrapper {
  line-height: 2rem;
  width: 50%;
  padding-left: 1rem;
  font-weight: bolder;
}
.logo {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #a05841;
}
.header p {
  color: #a05841;
}


/* hamburger menu------------ */
#menu-toggle {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-box {
  right: 0 !important;
}
.menu-btn {
  position: fixed;
  top: 120px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a05841;
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}
.menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ededee;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  text-align: center;
}
.menu-items {
  display: block;
  padding: 12px 24px;
  color: #131313;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.25s;
  text-transform: uppercase;
}
.menu-items:hover {
  color: darkgray;
}

/* hero section --------------------- */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/shop-img/1.webp);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  font-size: 2rem;
  padding: 4rem 1rem;
  color: white;
}
.hero-text h1 {
  font-family: "Fjalla One", sans-serif;
  color: #ffff;
  font-weight: bolder;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
/* shop all section------------------ */
.shop-all{
    text-align: center;
}
.img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shop-all h1{
    color: #131313;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: lighter;
    padding: 2rem;
    font-family: "Fjalla One", sans-serif;
}
.product{
    color: #a05841;
    padding: 0.5rem 0;
}
.product img{
    margin-bottom: 1rem;
}
.product p{
    line-height: 1.5rem;
}
.shop-all span{
    text-decoration: line-through;
    padding: 1rem;
}
.shop-btn{
    margin-top: 1rem;
    width: 100%;
}
/* our store ------------------ */
.our-store{
    background-color: #123132;
    text-align: center;
    padding: 4rem;
    color: #ededee;
}
.our-store div{
    margin: 3rem 0;
}
.our-store h1{
    text-transform: uppercase;
    color: #ededee;
    font-family: "Outfit", sans-serif; 
    font-weight: lighter;
    letter-spacing: 0.3rem;
    padding-bottom: 1.5rem;
}
.our-store a{
    color: #ededee;
}
.our-store input{
    background-color: #123132;
    border-width: 1px;
    width: 100%; 
    height: 2rem;
    margin: 1rem 0;
}
.our-store input:hover{
    border-width: 3px;
}
.subscribe button{
    width: 100%;
    background-color: #ffff;
    color: #131313;
}
/* footer------------ */
footer{
    background-color: #ededee;
    color: #a05841;
    padding: 2rem;
}
footer a{
    color: #a05841;
}

