main {
  width: 100%;
  height: 100rem;
  background-color: var(--dBeige);
}

.resume {
  background-color: var(--white);
  top: 6rem;
  left: 2.5rem;
  width: 80%;
  height: 26rem;
  position: absolute;
  z-index: 8;
  box-shadow: -5px 5px 15px var(--black);
}
