@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway&family=Roboto:wght@300&display=swap');

/*
Headings and subheadings 
font-family: 'Questrial', sans-serif;
Buttons
font-family: 'Raleway', sans-serif;
Body
font-family: 'Roboto', sans-serif; */

:root {
    --black: #000;
    --white: #FFF;
    --lylac: #f5e8ff;  
    --light-green: #E6FAC0; 
    --medium-green: #5E7D1F;
    --dark-green: #394B2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.title-header {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
}

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem;
    
}
/* -----burger menu------ */

.hamburger {
  width: 2em;
  height: 35px;
  z-index: 3;
}

.hamburger .top-bun {
  position: relative;
  width: 2em;
  height: 2px;
  border-radius: 3px;
  background-color: var(--black);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}



.hamburger .bottom-bun {
  position: relative;
  width: 2em;
  height: 2px;
  border-radius: 3px;
  background-color: var(--black);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 2;
}


.nav-wrapper {
  position: relative;
  overflow: hidden !important;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul li a {
    font-family: 'Questrial', sans-serif;
    position: relative;
    text-decoration: none;
    color: var(--black);
    font-size: 25px;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}

nav ul li:last-child {
    margin-top: 3rem;
}

nav ul li a:active {
    color: var(--dark-green);
}

nav ul li a:hover {
    color: var(--dark-green);
}

nav ul li a:focus {
    color: var(--dark-green);
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  width: 2em;
  margin-top: 25px;
  background-color: var(--black);
}
#toggle:checked + .hamburger .bottom-bun {
  transform: rotate(45deg);
  margin-top: -2px;
  background-color: var(--black);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

#toggle {
  display: none;
}

/* -----main----- */
main {
  display: flex;
  flex-direction: column;
  
}


.introduction {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    gap: 2rem;
}

.header-h1 {
    margin-top: 1rem;
    font-family: 'Questrial', sans-serif;
    font-size: 32px;
    text-align: center;
}

.introduction p {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    line-height: 2rem;
}

.buttons {
    background-color: transparent;
    border: 2px solid var(--black);
    padding: 1.2rem 0;
    margin: 0 4.5rem;
    color: var(--black);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.hero {
  background-color: var(--lylac);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero img {
  width: 100%;
}

.first-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.first-text a {
  color: var(--black);
}

.hero2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero2 p {
  margin: 1rem 3rem;
  text-align: center;
}

.hero2 i {
  background-color: var(--light-green);
  padding: 2rem;
  font-size: 20px;
  border-radius: 50%;
}

.hero3 {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pic-wrapper {
  margin: 2rem 1.3rem;
}

.pic-wrapper img {
  width: 100%;
}

.hero3 p {
  margin: 0 3rem;
  text-align: center;
}

.hero3 a {
  background-color: transparent;
  border: 2px solid var(--black);
  padding: 1.2rem 4.5rem;
  color: var(--black);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
}

.hero4 {
  background-color: var(--lylac);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.hero4 p {
  margin: 0 3rem;
  text-align: center;
}

.header-h2 {
  text-align: center;
}

.hero4 a {
  background-color: transparent;
  border: 2px solid var(--black);
  padding: 1.2rem 4.5rem;
  color: var(--black);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
}


.hero5 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;
}

.hero5 p {
  margin: 0 3rem;
  text-align: center;
}

.hero5 a {
  background-color: transparent;
  border: 2px solid var(--black);
  padding: 1.2rem 4.5rem;
  color: var(--black);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
}

.hero6 {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.hero6 p {
  margin: 0 3rem;
  text-align: center;
}

.loglog {
  border: 1px solid var(--black);
  border-radius: 50%;
  padding: 1rem;
}

.hero7 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 9rem;

}

.hero7 a {
  color: var(--black);
}


footer {
  background-color: var(--dark-green);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

footer a {
  font-family: 'Questrial', sans-serif;
  color: var(--white);
  font-size: 22px;
}

footer p {
  color: var(--white);
}

fieldset {
  color: var(--white);
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
legend {
  font-family: 'Questrial', sans-serif;
  margin: 1rem 0;
}

.fieldset-mail {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.mail-input {
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: var(--dark-green);
  font-size: 18px;
  height: 50px;
  color: var(--white);
}

.mail-input:focus {
  outline: none;
  border-bottom: 3px solid var(--light-green);
}

.sub-btn {
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 1rem 2rem;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  
}

.list {
  display: flex;
  justify-content: space-around;
  margin-top: -90px;
}

.footer-h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--white);
}

.list-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list-footer li {
  margin: .3rem;
}

.list-footer li a {
  text-decoration: none;
}


.img-wrapper img:nth-child(1) {
  width: 131px;
  height: 159px;
  transform: rotate(-28deg);
  translate: 80% 20%;
}

.img-wrapper img:nth-child(2) {
  width: 131px;
  height: 159px;
  translate: -50% -30%;
  transform: rotate(18deg);
}

.img-wrapper img:nth-child(3) {
  width: 131px;
  height: 159px;
  translate: 100% -170%;
  transform: rotate(-18deg);
}

.img-wrapper img:nth-child(4) {
  width: 131px;
  height: 159px;
  translate: 10% -130%;
  transform: rotate(18deg);
}