html, body{
	margin: 0;
	
}

body{
	display: grid;
	grid-template-areas:
	"header"
	"main"
	"footer";
	font-family: 'Quicksand', sans-serif;
}

#header{
	grid-area: header;
	background-color: red;
	height: 12vh;
	display: grid;
	grid-template-areas:
	"name_plate navbar";
}

#name_plate{
	grid-area: name_plate;
	background-color: orange;
	width: 70vw;
	height: 12vh;
	display: grid;
	grid-template-rows: 7vh 5vh;
	grid-template-areas:
	"name_header"
	"job_title";
}

#name_header{
	margin: 0%;

	margin-left: 9vw;
	grid-area: name_header;
	background-color: brown;
	height: 7vh;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	display: flex;
	/* justify-content: center; */
	align-items: flex-end;
}

#blue_cube{
	background-color: #0150FD;
	height: 20px;
	width: 20px;
	margin-right: 2vw;
	margin-bottom: 1vh;
}

#slash{
	display: none;
}

#job_title{
	margin: 0%;
	margin-left: 9vw;
	grid-area: job_title;
	background-color: coral;
	height: 5vh;
	font-size: 1em;
	padding-top: 2%;
}


#navbar{
	grid-area: navbar;
	background-color: yellow;
	width: 30vw;
	height: 15vh;

}

#main{
	grid-area: main;
	background-color: green;
	margin: 0%;
	height: 105vh;
	/* display: flex; */
	/* justify-content: flex-end; */
	/* margin: 5vw; */
	/* align-items: center; */
}

#aboutme{
	background-color: purple;
	margin: 0%;
	margin-left: 9vw;
	/* padding-right: 5%; */
	height: 105vh;
	width: 85vw;
	display: grid;
	grid-template-rows: 25vh 10vh 0.5vh 12vh 8vh 11vh 6vh 17vh 10vh ;
	grid-template-areas: 
	"img_container"
	"name_main"
	"rule"
	"portfolio"
	"social_main"
	"title"
	"subtitle"
	"ramble1"
	"ramble2";
}

#img_container{
	grid-area: img_container;
	background-color: red;
	margin: 0%;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;


}

#headshot{
	height: 20vh;
	border-radius: 50%;
}

#name_main{
	grid-area: name_main;
	background-color: orange;
	margin: 0%;

}

.name_heading{
	margin: 0%;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

#jobtitle_main{
	display: none;
}

#rule{
	margin: 0%;
	background-color: #0150FD;
	border: none;
	width: 20vw;
	justify-self: center;

}

#portfolio{
	grid-area: portfolio;
	background-color: yellowgreen;
	margin: 0%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

button{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 1em;
	border-radius: 2em;
	padding: 2% 8%;
	height: 5vh;
	width: 35vw;

}

#resume{
	color: white;
	background-color: #0150FD;
	border: none;

}

#projects{
	background-color: #F4ECE6;
}

#social_main{
	grid-area: social_main;
	background-color: blue;
	margin: 0%;


}

#white_bar_socials{
	height: 6vh;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

#socials{
	height: 6vh;
	width: 40vw;
	margin: 0%;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;


}

.socials{
	height: 2vh;
}

#title{
	grid-area: title;
	background-color: red;
	margin: 0%;
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
}

#subtitle{
	grid-area: subtitle;
	background-color: orange;
	margin: 0%;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;

}

#ramble1{
	grid-area: ramble1;
	background-color: yellowgreen;
	margin: 0%;
	
}

#ramble2{
	grid-area: ramble2;
	background-color: pink;
	margin: 0%;

}


#footer{
	grid-area: footer;
	background-color: blue;
	height: 25vh;
	display: grid;
	grid-template-rows: 10vh 10vh 5vh;
	grid-template-areas: 
	"contact"
	"social_footer"
	"copyright";
}

#contact{
	grid-area: contact;
	background-color: chocolate;
	margin: 0%;
}

#social_footer{
	grid-area: social_footer;
	background-color: teal;
	margin: 0%;
	

}

#copyright{
	grid-area: copyright;
	background-color: fuchsia;
	margin: 0%;

}


@media (min-width: 540px) {
	html, body{
		margin: 0;
		
	}
	
	body{
		display: grid;
		grid-template-areas:
		"header"
		"main"
		"footer";
	}
	
	#header{
		grid-area: header;
		background-color: red;
		height: 15vh;
		display: grid;
		grid-template-areas:
		"name_plate navbar";
	}
	
	#name_plate{
		grid-area: name_plate;
		background-color: orange;
		width: 50vw;
		height: 15vh;
		display: grid;
		grid-template-areas:
		"name_header job_title";
	}
	
	#name_header{
		margin: 0%;
		grid-area: name_header;
		background-color: brown;
		width: 30vw;
		height: 15vh;
	}
	
	#job_title{
		margin: 0%;
		grid-area: job_title;
		background-color: coral;
		width: 20vw;
		height: 15vh;
	}
	
	
	#navbar{
		grid-area: navbar;
		background-color: yellow;
		width: 50vw;
		height: 15vh;
	
	}
	
	#main{
		grid-area: main;
		background-color: green;
		margin: 0%;
		height: 90vh;
		display: flex;
		justify-content: center;
		/* margin: 5vw; */
		align-items: center;
	}
	
	#aboutme{
		background-color: purple;
		margin: 0%;
		margin-left: 9vw;
		/* padding-right: 5%; */
		height: 60vh;
		width: 50vw;
		display: grid;
		grid-template-rows: repeat(12, 5vh) ;
		grid-template-columns: repeat(2, 25vw);
		grid-template-areas: 
		"img_container	title"
		"img_container	title"
		"img_container	title"
		"img_container	subtitle"
		"img_container	portfolio"
		"name_main		portfolio"
		"name_main		portfolio"
		"rule			ramble1"
		"jobtitle_main	ramble1"
		"jobtitle_main	ramble1"
		"jobtitle_main	ramble2"
		"social_main	ramble2"
	}
	
	#img_container{
		grid-area: img_container;
		background-color: red;
		margin: 0%;
		height: 25vh;
	
	
	}
	
	#headshot{
	
	}
	
	#name_main{
		grid-area: name_main;
		background-color: orange;
		margin: 0%;
	
	}

	#jobtitle_main{
		grid-area: jobtitle_main;
		background-color: grey;
		display: flex;
	}
	
	#rule{
		margin: 0%;
		background-color: blue;
		border: none;
	
	}
	
	#portfolio{
		grid-area: portfolio;
		background-color: yellowgreen;
		margin: 0%;
	
	}
	
	#social_main{
		grid-area: social_main;
		background-color: blue;
		margin: 0%;
	
	}
	
	#title{
		grid-area: title;
		background-color: red;
		margin: 0%;
	}
	
	#subtitle{
		grid-area: subtitle;
		background-color: orange;
		margin: 0%;
	
	}
	
	#ramble1{
		grid-area: ramble1;
		background-color: yellowgreen;
		margin: 0%;
	}
	
	#ramble2{
		grid-area: ramble2;
		background-color: pink;
		margin: 0%;
	
	}
	
	
	#footer{
		grid-area: footer;
		background-color: blue;
		height: 15vh;
		display: grid;
		grid-template-columns: 70vw 15vw 15vw;
		grid-template-areas: 
		"contact social_footer copyright";
	}
	
	#contact{
		grid-area: contact;
		background-color: chocolate;
		margin: 0%;
		height: 15vh;
	}
	
	#social_footer{
		grid-area: social_footer;
		background-color: teal;
		margin: 0%;
		height: 15vh;
		
	
	}
	
	#copyright{
		grid-area: copyright;
		background-color: fuchsia;
		margin: 0%;
		height: 15vh;
	
	}
}