header{
  background-color: white;
  position: fixed;
  width:100%;
}
.bulletpoint{
width: 20px;
height: 20px;
}

.topnav {
  background-color:white;
  overflow: hidden;
}
.topnav a {
  display:flex;
  flex-direction: column;
  justify-content:right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
    color: blue;
}
.topnav a.active {
  color: blue;
}
.topnav .icon {
  display: none;
}
@media screen and (min-width: 0px) {
  .topnav a:not(:nth-child(0)), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: flex;
    float: right;
    justify-content: flex-end;
    flex-direction: column;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }

}
@media screen and (min-width: 600px){
.topnav.responsive a{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
  .topnav a:not(:nth-of-type(0)), .dropdown .dropbtn {
    display: flex;
    flex-direction: row;

  }
  .topnav a.icon {
    display: none;
  }
  .topnav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
h3, p {
	text-align: center;
}
body{
  background-color: wheat;
}
.headerwithicon{
    padding-top: 130px;
    padding-bottom: 30px;
}
.bulletpoint{
width: 20px;
height: 20px;
}
.box1{
    background-color: white;
}
.sideicon{
    width: 20px;
    height: 90px;
}
.headercolor{
    color: blue;
}
body .footerbackgroundcolor{
  background-color: white;
}
@media screen and (min-width:775px){
  .largescreenresponsivefooter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
  footer{
    padding-top: 20px;
  }
}
