header{
  background-color: white;
  position: fixed;
  width:100%;
}
.bulletpoint{
width: 20px;
height: 20px;
}
.menue{
  height: 20px;
  width: 20px;
}
.topnav {
  background-color:white;
  overflow: hidden;
}
.topnav a {
  display:flex;
  flex-direction: column;
  justify-content:right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  color: blue;
}
.topnav .icon {
  display: none;
}
@media screen and (min-width: 0px) {
  .topnav a:not(:nth-child(0)), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: flex;
    float: right;
    justify-content: flex-end;
    flex-direction: column;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }

}
@media screen and (min-width: 600px){
.topnav.responsive a{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
  .topnav a:not(:nth-of-type(0)), .dropdown .dropbtn {
    display: flex;
    flex-direction: row;

  }
  .topnav a.icon {
    display: none;
  }
  .topnav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}



body{
  background-color: wheat;
}
h3 {
	text-align: center;
}
.headerwithicon{
    padding-top: 130px;
    padding-bottom: 30px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}
body .footerbackgroundcolor{
  background-color: white;
}
@media screen and (min-width:775px){
  .largescreenresponsivefooter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
  footer{
    padding-top: 20px;
  }
}
.resumetopcontent{
    padding-top: 100px;
}
.cvbutton{
    border-radius: 50px;
    background-color: blue;
    color: white;
}
.cvbutton:hover{
    background-color: wheat;
    color: black;
}
.box1{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box1header{
    color: blue;
}
.skillsetstyle{
    background-color: white;
}
.listicon{
    width: 10px;
}
.shadow{
    box-shadow:20px 20px 50px grey;
}