.conteiner {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.2fr 0.5fr;
    grid-template-areas:
        "n n hu"
        "ma ma ma"
        "f f f"
    ;

}
.navbar{
    grid-area: n;
}

.humborger{
    grid-area: hu;
}

.main_all{
    grid-area: ma;
}

.footer_all{
    grid-area: f;
}

.blue_box {
    background-color: #0150FD;
    height: 16px;
    width: 16px;
    margin-top: 19px;
}

.title_1 {
    margin-left: 18px;
    margin-top: -20px;
    padding-left: 4px;
}

.title_2 {
    margin-top: -29px;
}