@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

:root {
    --dark-beige: #E6DACD;
    --light-beige: #F4ECE6;
    --royal-blue: #0150FD;
    --black: #000;  
    --white: #FFF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Quicksand', sans-serif;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 2fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

/* -----header----- */
header { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--white);
    display: flex;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin: 1rem 1.5rem;
}
span {
    display: none;
}
.title-header {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    text-transform: uppercase;
}
.header-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-box a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.square {
    background-color: var(--royal-blue);
    width: 15px;
    height: 15px;
}

/* -----burger menu----- */

#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  overflow: hidden !important;
  top: 4em;
  right: 10%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 3;
}

.hamburger .top-bun {
  position: relative;
  width: 1em;
  height: 4px;
  border-radius: 3px;
  background-color: var(--royal-blue);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.hamburger .meat {
  position: relative;
  width: 2em;
  height: 4px;
  border-radius: 3px;
  background-color: var(--royal-blue);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.hamburger .bottom-bun {
  position: relative;
  right: -15px;
  width: 1em;
  height: 4px;
  border-radius: 3px;
  background-color: var(--royal-blue);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--light-beige);
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 2;
}

.nav::-webkit-scrollbar {
    display: none; 
}
.nav-wrapper::-webkit-scrollbar {
    display: none; 
}

.nav-wrapper {
  position: relative;
  overflow: hidden !important;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: var(--black);
    font-size: 25px;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}

nav ul li a:active {
    color: var(--royal-blue);
}

nav ul li a:hover {
    color: var(--royal-blue);
}

nav ul li a:focus {
    color: var(--royal-blue);
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  width: 2em;
  margin-top: 25px;
  background-color: var(--black);
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
  background-color: var(--black);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}


/* -----main----- */
main { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.main-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--dark-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: var(--light-beige);
    width: 300px;
    height: 400px;
    position: absolute;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) -4px 3px 8px;
    z-index: 1;
}

.container img {
    margin-top: 1rem;
    border-radius: 50%;
    width: 120px;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    text-align: center;
    margin: 0 100px;
    line-height: 1.2em;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--royal-blue);
    width: 70px;
    height: 2px;
}

.text-container {
    display: none;
}
/* -----buttons----- */
.buttons {
    display: flex;
    gap: 0 1rem;
    margin: 0 3rem;
}

.buttons a:nth-child(1) {
    background-color: var(--royal-blue);
    border: 2px solid var(--royal-blue);
    color: var(--white);
    padding: 5px 25px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.buttons a:nth-child(1):hover {
    background-color: transparent;
    color: var(--black);
}

.buttons a:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    padding: 5px 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.buttons a:nth-child(2):hover {
    background-color: var(--royal-blue);
    color: var(--white);
    border: 1px solid var(--royal-blue);
}

/* -----social icons----- */
.socials {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.socials ul {
    display: flex;
    list-style: none;
}

.socials ul li:nth-child(1) {
    margin-right: 1rem;
}
.socials ul li:nth-child(2) {
    margin-right: 1rem;
}
.socials ul li:nth-child(3) {
    margin-right: 1rem;
}

.socials ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.socials ul li a:hover {
    color: var(--royal-blue);
}
/* ------main text------ */
.main-text {
    margin-top: 220px;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-text .buttons {
    display: none;
}

.main-text p:nth-child(1) {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.main-text p:nth-child(2) {
    font-size: 19px;  
}

.main-text p:nth-child(3) {
    font-size: 16px;  
}

.main-text p:nth-child(4) {
    font-size: 16px;  
}




/* -----footer----- */
footer{ 
    grid-area: 3 / 1 / 4 / 2; 
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;

}

.call {
    grid-area: 1 / 1 / 2 / 2;
    margin: .5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.write {
    grid-area: 1 / 2 / 2 / 3;
    margin: .5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.follow {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.follow ul {
    display: flex;
    list-style: none;
}

.follow ul li:nth-child(1) {
    margin-right: 1rem;
}
.follow ul li:nth-child(2) {
    margin-right: 1rem;
}
.follow ul li:nth-child(3) {
    margin-right: 1rem;
}


.follow ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    transition: all .4s ease-in-out;
}

.follow ul li a:hover {
    color: var(--royal-blue);
}

footer p {
    grid-area: 3 / 1 / 4 / 3;
    margin: 0 2rem;
}

.head-footer {
    font-family: 'Poppins', sans-serif;
}

.footer-a {
    text-decoration: none;
    color: var(--black);
    transition: all .2s ease-in-out;
}

.footer-a:hover {
    color: var(--royal-blue);
}

/* -----screens----- */
@media (min-width: 900px) {
    
    /* -----header---- */
    header {
        position: fixed;
        align-items: center;
        width: 100%;
        height: 15%;
        z-index: 4;
    }
    
    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: flex-start;
        gap: .5rem;
        margin: 1rem 1.5rem;
        z-index: 8;
    }

    .title-header {
        margin-top: .8rem;
    }

    .header-left a {
        font-family: 'Quicksand', sans-serif;
        font-size: 22px;
    }


    .header-box a {
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
    }

    .square {
        background-color: var(--royal-blue);
        width: 15px;
        height: 15px;
    }

    span {
        display: block;
        margin-top: 1rem;
    }

    .hamburger {
        display: none;
    }

    .nav {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: transparent;
        top: 0; left: 0; right: 10px; bottom: 0;
        overflow: hidden !important;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        z-index: 4;
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden !important;
        overflow-y: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        right: -400px;
        

     }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 .5rem;
    }

    nav ul li a {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        color: var(--black);
        font-size: 16px;
        display: flex;
        margin-top: 2.5rem;
        transition: color 0.2s ease-in-out;
        letter-spacing: 0px;
    }   
    /* ------main------ */
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }

    .main-wrapper {
        grid-area: 1 / 1 / 2 / 2;
        background-color: var(--dark-beige);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -130px;
    }

    .container {
        background-color: var(--light-beige);
        width: 400px;
        height: 500px;
        position: absolute;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) -4px 3px 8px;
        z-index: 1;
        left: 150px;
       
    }
    .container img {
        margin-top: 2rem;
        border-radius: 50%;
        width: 180px;
    }

    .container h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        text-align: center;
        margin: 0 200px;
        line-height: 1.2em;
    }

    .line {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--royal-blue);
        width: 70px;
        height: 2px;
    }
    /* -----buttons----- */
    .buttons {
        display: none;
        
    }

    .text-container {
        display: block;
    }

    .text-container p {
        font-size: 24px;
    }
    /* -----social icons----- */
    .socials {
        position: absolute;
        background-color: var(--white);
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
    }

    .socials ul {
        display: flex;
        list-style: none;
    }

    .socials ul li:nth-child(1) {
        margin-right: 2rem;
    }
    .socials ul li:nth-child(2) {
        margin-right: 2rem;
    }
    .socials ul li:nth-child(3) {
        margin-right: 2rem;
    }

    .socials ul li a {
        text-decoration: none;
        color: var(--black);
        font-size: 22px;
        transition: all .4s ease-in-out;
    }
/* ------main text------- */
    .main-text {
        position: absolute;
        width: 30%;
        left: 550px;
        margin-top: 0px;
        margin-bottom: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
    }

    .main-text .buttons {
        display: block;
        margin-left: -5px;
    }

    .main-text p:nth-child(1) {
        font-size: 70px;
        font-family: 'Poppins', sans-serif;
    }

    .main-text p:nth-child(2) {
            font-size: 24px; 
            font-weight: bold; 
            margin-top: -20px;
    }

    .main-text p:nth-child(3) {
            font-size: 16px; 
            font-weight: bold; 
    }

    .main-text p:nth-child(4) {
            font-size: 16px; 
            font-weight: bold; 
    }

/* ------footer------- */
    footer{ 
        grid-area: 3 / 1 / 4 / 2; 
        background-color: var(--white);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

    .call {
        grid-area: 2 / 3 / 2 / 3;
        margin: .5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

    .write {
        grid-area: 2 / 4 / 2 / 4;
        margin: .5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

    .follow {
        grid-area: 2 / 5 / 2 / 5;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
   footer p {
        grid-area: 2 / 1 / 4 / 3;
        margin: 0 2rem;
        width: 50%;
    }
}