/* Add your custom CSS here */
@media only screen and (min-width: 750px) {

} 

/* INSTRUCTIONS
DESIGN 1: Therapy

https://www.wix.com/website-template/view/html/2055
Fonts

Headings: Libre Baskeville 400
https://fonts.google.com/specimen/Libre+Baskerville
Subheadings: Libre Baskeville Italic 400
https://fonts.google.com/specimen/Libre+Baskerville
Body: Quicksand Light 300
https://fonts.google.com/specimen/Quicksand
Colors

Text colour: #2F2F2E

Lime green: #E2F6CD
Light grey: #F2F2F1
Light mint: #CFF4EC
Medium mint: #94D6C8
Dark green: #4D7369

/* Dont' forget to link this file to your HTML in the <head> */
