$red-brown: #a05941;
$red-light: #d0b0a6;
$green-black: #133032;
$green-light: #3e5a5b;
$light-grey: #ededee;
$white: #fff;
$black: #000;
$transparent-white: rgba(255, 255, 255, 0.75);
$heading-font: "Fjalla One", sans-serif;
$body-font: "Outfit", sans-serif;