@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@200&display=swap");
@import 'variables';
@import 'header';
@import 'footer';

* {
    margin: 0;
    box-sizing: border-box;
    border: 0px solid black;
    font-family: $body-font;
  }
  body {
    background-color: $light-grey;
    padding: 0 2rem;
  }
  .active { 
    color: $black;
  }
  .button {
    padding: 1rem 3rem;
    background-color: $red-brown;
    text-decoration: none;
    font-size: 1.1rem;
    color: $white;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
  }
  .button:hover {
    color: $black;
    background-color: $red-light;
  }
  .underline {
    color: $red-brown;
    font-size: 4rem;
    font-weight: 600;
    line-height: 0;
  }
  .hero {
    width: calc(100% + 4rem);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 600);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25);
  }
  .hero > * {
    color: $white;
    fill: $white;
    margin-bottom: 2rem;
  }
  .hero h1 {
    font-size: 4rem;
    font-family: $heading-font;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 900px) {
    main {
      margin-top: 15vh;
    }
    body {
      padding: 0 4rem;
    }
    .hero {
      width: 100%;
      margin: 0;
    }
  }
  